<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<title>Employee List</title>
</head>
<body >
<div class="w3-content" style="max-width:1500px">


<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Asset</a>
  <a href="/goods/goodsList" class="w3-bar-item w3-button w3-hide-small">쇼핑몰</a>
  <a href="/news/newsList" class="w3-bar-item w3-button w3-hide-small">뉴스</a>
  <a href="/stocks" class="w3-bar-item w3-button w3-hide-small">주식</a>
  <a href="/member/memberList" class="w3-bar-item w3-button w3-hide-small">회원관리</a>
  <a href="/employee/employeeList" class="w3-bar-item w3-button w3-hide-small">직원관리</a>
 
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">상품<i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
   	  <a href="/goods/bookList" class="w3-bar-item w3-button">강의</a>
   	  <a href="/goods/studyList" class="w3-bar-item w3-button">도서</a>
      <a href="/goods/goodsRegist" class="w3-bar-item w3-button">상품등록</a>
      <a href="/goodsIpgo/ipgoList" class="w3-bar-item w3-button">입고현황</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>
 <div class="w3-bar w3-theme-d2 w3-right-align"><button class="w3-button" title="Notifications">상품 <i class="fa fa-caret-down"></i></button></div>
  </div>
   
 <br /><br /><br />

  <div align="center">
    <h2>Employee List</h2>
    <a href="/employee/employeeRegist">직원등록</a>
    <hr/>

    <table border="1" cellpadding="5" cellspacing="0" style="width: 40%; text-align: center;">
      <thead>
        <tr>
          <th>사진</th>
          <th>직원번호</th>
          <th>직원 이름</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
       <!--  <tr style="cursor:pointer">
          <td><img src="/static/images/cover.jpg" style="width:60px;"></td>
          <td></td>
          <td></td>
          <td>
            <a th:attr="onclick=|deleteEmp('${dto.empNum}')|" style="text-decoration: none;">×</a>
          </td>
        </tr>--> 
      </tbody>
    </table>
  </div>
  </div>
</body>
</html>
