<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Employee List</title>
<style>
.w3-sidebar a { 
    font-family: "Roboto", sans-serif;
    text-decoration: none; /* 밑줄 제거 */
}
a { 
	cursor: pointer;
    font-family: "Roboto", sans-serif;
    text-decoration: none; /* 밑줄 제거 */
	font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, .w3-wide { 
    font-family: "Montserrat", sans-serif;
}
hr{
color: red;
}
#login{
font-family: "Roboto", sans-serif;
font-size: 15px;
}

</style>
</head>
<body class="w3-content" style="max-width:1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <a href="/"><h3 class="w3-wide"><b>ALBUM</b></h3></a>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="/" class="w3-bar-item w3-button">홈</a>
    <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
      앨범 <i class="fa fa-caret-down"></i>
    </a>
     <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
	    <a href="bookList" type="button"  class="w3-bar-item w3-button">도서</a>
	    <a href="studyList" type="button"  class="w3-bar-item w3-button">강의</a>
	</div>
   
  
    
  <br /><br />
  
  
	  
	  <a class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">상품등록</a> 
	  <a  class="w3-bar-item w3-button w3-padding" >입고현황</a> 
	

  	  <a  class="w3-bar-item w3-button w3-padding" >주문목록</a> 
  	  <a href="member/memberList" id="memberList" class="w3-bar-item w3-button w3-padding">회원관리</a>
  	  <a href="employee/employeeList" class="w3-bar-item w3-button w3-padding">직원관리</a>
  	  <a href="my/myPage" class="w3-bar-item w3-button w3-padding">내 정보</a>
  	  
  	  <a class="w3-bar-item w3-button w3-padding">문의</a> 
  
  
     <a class="w3-bar-item w3-button w3-padding">내 주문</a> 
 	 <a  class="w3-bar-item w3-button w3-padding">내 정보</a>
  	 <a class="w3-bar-item w3-button w3-padding" >문의</a> 
  

  
  </div>
</nav>

  <div align="center">
    <h2>Employee List</h2>
    <a href="/emp/empRegist">직원등록</a>
    <hr/>

    <table border="1" cellpadding="5" cellspacing="0" style="width: 40%; text-align: center;">
      <thead>
        <tr>
          <th>사진</th>
          <th>직원번호</th>
          <th>직원 이름</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
       <!--  <tr style="cursor:pointer">
          <td><img src="/static/images/cover.jpg" style="width:60px;"></td>
          <td></td>
          <td></td>
          <td>
            <a th:attr="onclick=|deleteEmp('${dto.empNum}')|" style="text-decoration: none;">×</a>
          </td>
        </tr>--> 
      </tbody>
    </table>
  </div>
</body>
</html>
