<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/static/js/daumAddressScript.js"></script>
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/static/js/daumAddressScript.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>

<title>employeeRegist</title>

</head>
<body>
<div class="w3-content" style="max-width:1500px">
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Asset</a>
  <a href="/goods/goodsList" class="w3-bar-item w3-button w3-hide-small">쇼핑몰</a>
  <a href="/news/newsList" class="w3-bar-item w3-button w3-hide-small">뉴스</a>
  <a href="/stocks" class="w3-bar-item w3-button w3-hide-small">주식</a>
  
  <div class="w3-dropdown-hover w3-hide-small">
  	<button class="w3-button" title="Notifications">회원관리 <i class="fa fa-caret-down"></i></button>
  	<div class="w3-dropdown-content w3-card-4 w3-bar-block">
   	  <a href="/member/memberRegist" class="w3-bar-item w3-button">회원등록</a>
   	  <a href="/member/memberList" class="w3-bar-item w3-button">회원리스트</a>
    </div>
  </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
  	<button class="w3-button" title="Notifications">직원관리 <i class="fa fa-caret-down"></i></button>
  	<div class="w3-dropdown-content w3-card-4 w3-bar-block">
   	  <a href="/employee/employeeRegist" class="w3-bar-item w3-button">직원등록</a>
   	  <a href="/employee/employeeList" class="w3-bar-item w3-button">직원리스트</a>
    </div>
  </div>
 
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">상품 <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
   	  <a href="/goods/bookList" class="w3-bar-item w3-button">강의</a>
   	  <a href="/goods/studyList" class="w3-bar-item w3-button">도서</a>
      <a href="/goods/goodsRegist" class="w3-bar-item w3-button">상품등록</a>
      <a href="/goodsIpgo/ipgoList" class="w3-bar-item w3-button">입고현황</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

</div>
 <br /><br /><br />
   <form action="/employee/employeeRegist" method="post" th:object="${employeeCommand}">
	<div class="w3-container" align="center">
	 <h2>직원등록</h2>
	  <p>employeeRegist</p>
	  <hr/>

		<table  style="width:50%;">
		    <tr class="w3-bar">
		      <th>
		        번호
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="text" name="empNum" readonly="readonly" th:value="${employeeCommand.empNum}"/>
		        </div>
		      </th>
		    </tr>
		    <tr class="w3-bar">
		      <th>
		        이름
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="text" name="empName" th:value="${employeeCommand.empName}" />
		          <span style = "color : red" th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"  />
		        </div>
		      </th>
		    </tr>
		    <tr class="w3-bar">
		      <th>
		        아이디
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="text" name="empId" id="userId" th:value="${employeeCommand.empId}"  />
		          <span id="idCheck"></span>
				  <span style="color: red" th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}"  />
		        </div>
		      </th>
		    </tr>
		    <tr class="w3-bar">
		      <th>
		        비밀번호
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="password" name="empPw" /> 
		          <span style = "color : red" th:if="${#fields.hasErrors('empPw')}" th:errors="*{empPw}"  ></span>
		        </div>
		      </th>
		    </tr>
		    <tr class="w3-bar">
		      <th>
		        비밀번호확인
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="password" name="empPwCon" />
		          <span style = "color : red" th:if="${#fields.hasErrors('empPwCon')}" th:errors="*{empPwCon}" ></span>
		        </div>
		      </th>
		    </tr>
		    <tr class="w3-bar">
		      <th>
		        주소
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="text" name="empAddr" id="sample4_roadAddress"  readonly="readonly" th:value="${employeeCommand.empAddr}"/> <button type="button" onclick="execDaumPostcode();" >주소검색</button>
		          <span style="color: red" th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}"  />
		        </div>
		      </th>
		    </tr>
		    <tr class="w3-bar">
		      <th>
		        상세주소
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="text" name="empAddrDetail" th:value="${employeeCommand.empAddrDetail}" />
		        </div>
		      </th>
		    </tr>
		    <tr class="w3-bar">
		      <th>
		        우편번호
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="text" name="empPost" id="sample4_postcode"  th:value="${employeeCommand.empPost}"  readonly="readonly" />
		        </div>
		      </th>
		    </tr>
		     <tr class="w3-bar">
		      <th>
		        연락처
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="tel" name="empPhone" th:value="${employeeCommand.empPhone}"  /> 
		          <span style = "color : red" th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}"></span>
		        </div>
		      </th>
		    </tr>
		    <tr class="w3-bar">
		      <th>
		        이메일
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="email" name="empEmail" id="userEmail" th:value="${employeeCommand.empEmail}"  /> 
		          <span id="emailCheck"></span>
				  <span style = "color : red" th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}"></span>
		        </div>
		      </th>
		    </tr>
		    <tr class="w3-bar">
		      <th>
		        주민등록번호
		      </th>
		      <th>
		        <div class="w3-bar-item">
		          <input type="text" name="empJumin" th:value="${employeeCommand.empJumin}"   />
		          <span style = "color : red" th:if="${#fields.hasErrors('empJumin')}" th:errors="${employeeCommand.empJumin}"></span> 
		        </div>
		      </th>
		    </tr>
		    
		    <tr class="w3-bar">
		      <th colspan="2">
		        	<input type="submit" value="등록" >
		      </th>
		    </tr>
		    
		    
		    
		  </table>
	  </div>
	</form>
	</div>
</body>
</html>