<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.AnnounceMapper">
<sql id="BaseColumns">
	ANNOUNCE_NUM, ANNOUNCE_NAME, ANNOUNCE_DATE, START_DATE, END_DATE,
	ANNOUNCE_CONTENTS, RESULT_DATE, INTERVIEW_DATE, INTERVIEW_ADDR, DEPARTMENT_NUM
</sql>

<insert id="announceInsert" parameterType="announceDTO">
insert into announce ( <include refid="BaseColumns" /> )
values (#{announceNum}, #{announceName}, #{announceDate}, #{startDate}, #{endDate},
		#{announceContents}, #{resultDate}, #{interviewDate}, #{interviewAddr}, #{departmentNum})
</insert>

<select id="announceSelectAll">
select * from announce
</select>

<select id="announceSelectOne" parameterType="String" resultType="announceDTO">
select * from announce where announce_num = #{announceNum}
</select>

<update id="announceUpdate" parameterType="announceDTO">
update announce
set announce_num = #{announceNum}, announce_name = #{announceName}, announce_date = #{announceDate},
start_date = #{startDate}, end_date = #{endDate}, announce_contents = #{announceContents}, result_date = #{resultDate},
interview_date = #{interviewDate}, interview_addr = #{interviewAddr}, department_num = #{departmentNum}
where announce_num = #{announceNum}
</update>
</mapper>