<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.AttendMapper">
<sql id="BaseColumns">
ATTEND_NUM, EMP_NUM, START_TIME, END_TIME, RATE_WHETHER, ABSENCE_WHETHER, attend_date
</sql>

<insert id="AttendInsert">
	insert into attend ( <include refid="BaseColumns" /> )
	values (( select nvl(max(attend_num),0)+1 from attend ), #{empNum}, #{startTime}, null, #{rateWhether}, #{absenceWhether}, sysdate )
</insert>

<update id="AttendUpdate">
	UPDATE attend 
SET END_TIME = #{endTime}, 
    ABSENCE_WHETHER = #{absenceWhether}
WHERE emp_num = #{empNum} 
  AND attend_num = (
      SELECT attend_num 
      FROM attend 
      WHERE TRUNC(attend_date) = TRUNC(SYSDATE)
      AND emp_num = #{empNum}
  )
</update>

<select id="AttendSelect">
	SELECT <include refid="BaseColumns" />
    FROM attend
    WHERE emp_num = #{empNum}
     AND TRUNC(attend_date) = TO_DATE(#{date}, 'yyyy-MM-dd')
	
</select>

<select id="atWorkSelect">
 SELECT count(*) 
FROM attend 
WHERE TRUNC(attend_date) = TRUNC(SYSDATE)
and emp_num = #{empNum}
</select>


</mapper>


