<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.BudgetMapper">

<insert id="budgetRegist" parameterType="budgetDTO">
insert into budget (BUDGET_NUM, MEMBER_NUM, TOTAL_ASSET
					,TOTAL_CASH ,TOTAL_CREDIT, TOTAL_CHECK, TOTAL_SAVE, UPDATE_DATE)
values (#{budgetNum}, #{memberNum}, 0, 0, 0, 0, 0, null)
</insert>

<update id="budgetUpdate" parameterType="string">
    UPDATE budget b
    SET TOTAL_ASSET = (
	        SELECT SUM(
	            CASE
	                WHEN CATEGORY_NAME IN ('수입') THEN deal_price
	                WHEN CATEGORY_NAME = '지출' AND DEAL_METHOD != 'creditCard' THEN -deal_price
	                ELSE 0
	            END
	        )
	        FROM deal d
	        WHERE d.member_num = #{memberNum}
	    ),
    	TOTAL_CHECK = (
	    	nvl((SELECT SUM(
	            CASE
	                WHEN CATEGORY_NAME IN ('수입') THEN deal_price
	                WHEN CATEGORY_NAME IN ('지출', '저축', '재테크') THEN -deal_price
	                ELSE 0
	            END
	        )
	        FROM deal d
	        WHERE d.member_num = #{memberNum} and DEAL_METHOD = 'checkCard'),0)						
    	),
    	TOTAL_CASH = (
    		nvl((SELECT SUM(
	            CASE
	                WHEN CATEGORY_NAME = '수입' THEN deal_price
	                WHEN CATEGORY_NAME = '지출' THEN -deal_price
	                ELSE 0
	            END
	        )
	        FROM deal d
	        WHERE d.member_num = #{memberNum} and DEAL_METHOD = 'cash'),0)									
    	),
    	TOTAL_SAVE = (
    		nvl((SELECT SUM(deal_price)
	        FROM deal d
	        WHERE d.member_num = #{memberNum} and CATEGORY_NAME IN ('저축', '재테크')),0)
    	),
    	TOTAL_CREDIT = (
    		nvl((SELECT SUM(deal_price)
	        FROM deal d
	        WHERE d.member_num = #{memberNum} and DEAL_METHOD = 'creditCard'),0)
    	),
    	UPDATE_DATE = sysdate
    where b.member_num = #{memberNum}
</update>

<select id="budgetDetail" parameterType="string" resultType="budgetDTO">
select * from budget
where member_num = #{memberNum}
</select>

</mapper>