<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.CouponMapper">
<sql id="BaseColumns">
	COUPON_NUM, COUPON_NAME, COUPON_PERIOD, COUPON_PRICE,
	REGIST_DATE, COUPON_CONTENTS, MEMBER_NUM
</sql>
<insert id="couponInsert" parameterType="String">
insert into coupon (<include refid="BaseColumns"/>)
values((SELECT NVL(MAX(coupon_num), 0) + 1 FROM coupon), '회원가입쿠폰', sysdate + 30, 5000, sysdate, '회원가입시 증정되는 5천원 할인 쿠폰입니다.', #{memberNum})
</insert>

<select id="couponSelect" resultType="couponDTO">
select * from coupon where member_num = #{memberNum}
</select>

<delete id="couponDelete" parameterType="String">
delete from coupon where coupon_num = #{couponNum}
</delete>

<insert id="addCoupon" parameterType="String">
insert into coupon (<include refid="BaseColumns"/>)
values((SELECT NVL(MAX(coupon_num), 0) + 1 FROM coupon), '3천원 할인 쿠폰', sysdate + 30, 3000, sysdate, '5만원 이상 구매시 증정 되는 할인 쿠폰', #{memberNum})
</insert>
</mapper>