<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.DealMapper">
<sql id="BaseColumns">
	DEAL_NUM, MEMBER_NUM, DEAL_PRICE, DEAL_CONTENTS
	, DEAL_METHOD, DEAL_DATE, CATEGORY_NAME, CATEGORY_TYPE
</sql>
<insert id="dealInsert" parameterType="dealDTO">
insert into deal(DEAL_NUM, MEMBER_NUM, DEAL_PRICE
				 <if test="dealContents != null">
				 ,DEAL_CONTENTS
				 </if>
				 ,DEAL_METHOD, DEAL_DATE,
				 CATEGORY_NAME, CATEGORY_TYPE)
values(#{dealNum}, #{memberNum}, #{dealPrice}
	<if test="dealContents != null">
	,#{dealContents}
	</if>
	,#{dealMethod}, #{dealDate}
	,#{categoryName}, #{categoryType})
</insert>

<select id="dealList" parameterType="searchDTO" resultType="dealDTO">
select *
from (select row_number() over(order by DEAL_DATE desc) as rn
	, <include refid="BaseColumns"/>
	from deal
<where>
	<if test="searchWord != null">
	(
		CATEGORY_NAME like '%'||#{searchWord}||'%'
		or CATEGORY_TYPE like '%'||#{searchWord}||'%'
		or DEAL_METHOD like '%'||#{searchWord}||'%'
		or DEAL_CONTENTS like '%'||#{searchWord}||'%'
	)
	</if>
	<if test="categoryName != null and categoryName != '전체'">
        AND CATEGORY_NAME = #{categoryName}
    </if>
    <if test="categoryType != null and categoryType != '전체'">
        AND CATEGORY_TYPE = #{categoryType}
    </if>
    <if test="dealMethod != null and dealMethod != '전체'">
        AND DEAL_METHOD = #{dealMethod}
    </if>
 	<if test="dealStartDate != null and dealEndDate != null">
        AND deal_date BETWEEN #{dealStartDate} AND #{dealEndDate}
    </if>
    AND MEMBER_NUM = #{memberNum}
</where>
)
where rn between #{startRow} and #{endRow}
order by deal_num desc
</select>

<select id="dealCount" resultType="integer" parameterType="string">
select count(*) from deal
where member_num = #{memberNum}
<if test="dealMethod != null">
AND deal_method = #{dealMethod}
</if>
</select>

<select id="bankDealCount" resultType="integer" parameterType="string">
select count(*) from deal
where member_num = #{memberNum}
and deal_method = #{dealMethod}
and CATEGORY_NAME not in ('저축', '재테크')
</select>

<select id="dealSaveCount" resultType="integer" parameterType="string">
select count(*) from deal
where member_num = #{memberNum}
and CATEGORY_NAME = #{categoryName}
<if test="categoryType != null">
and CATEGORY_TYPE = #{categoryType}
</if>
</select>

<select id="dealjaetechCount" resultType="integer" parameterType="string">
select count(*) from deal
where member_num = #{memberNum}
and CATEGORY_NAME = #{categoryName}
<if test="categoryType != null">
and CATEGORY_TYPE = #{categoryType}
</if>
</select>

<select id="dealDetail" parameterType="string" resultType="dealDTO">
	select * from deal
	where deal_num = #{dealNum}
</select>

<update id="dealUpdate" parameterType="dealDTO">
update deal
set DEAL_PRICE = #{dealPrice},
	<if test="dealContents != null">
	DEAL_CONTENTS = #{dealContents},
	</if>
	DEAL_METHOD = #{dealMethod},
	DEAL_DATE = #{dealDate},
	CATEGORY_TYPE = #{categoryType}
where deal_num = #{dealNum}
</update>

<delete id="dealDelete" parameterType="string">
delete from deal where deal_num = #{dealNum}
</delete>

<select id="assetDealList" resultType="dealDTO">
select * from deal
where
	<if test="dealMethodValue == 'checkCard'">
		deal_method = #{dealMethodValue} 
		and 
		CATEGORY_NAME NOT IN ('저축', '재테크')
	</if>
	<if test="dealMethodValue == 'cash'">
		deal_method = #{dealMethodValue}
	</if>
and member_num = #{memberNum}
order by deal_date desc
</select>

<select id="totalSavePrice" resultType="integer">
select nvl(sum(deal_price),0)
from deal
where member_num = #{memberNum} 
and CATEGORY_NAME = '저축'
<if test="categoryTypeValue != null">
and CATEGORY_TYPE = #{categoryTypeValue} 
</if>
</select>

<select id="totalJaetechPrice" resultType="integer">
select nvl(sum(deal_price),0)
from deal
where member_num = #{memberNum} 
and CATEGORY_NAME = '재테크'
<if test="categoryTypeValue != null">
and CATEGORY_TYPE = #{categoryTypeValue} 
</if>
</select>

<select id="cashList" parameterType="assetListDTO" resultType="dealDTO">
select *
from (select row_number() over(order by DEAL_DATE desc) as rn
	,<include refid="BaseColumns"/>
	from deal
<where>
	<if test="searchWord != null">
		(DEAL_PRICE like '%'||#{searchWord}||'%'
		or CATEGORY_TYPE like '%'||#{searchWord}||'%'
		or DEAL_CONTENTS like '%'||#{searchWord}||'%')
	</if>
		and member_num = #{memberNum}
		and deal_method = 'cash'
</where>
)
where rn between #{startRow} and #{endRow} 
</select>

<select id="bankList" parameterType="assetListDTO" resultType="dealDTO">
select *
from (select row_number() over(order by DEAL_DATE desc) as rn
	,<include refid="BaseColumns"/>
	from deal
<where>
	<if test="searchWord != null">
		(DEAL_PRICE like '%'||#{searchWord}||'%'
		or CATEGORY_TYPE like '%'||#{searchWord}||'%'
		or DEAL_CONTENTS like '%'||#{searchWord}||'%')
	</if>
		and member_num = #{memberNum}
		and deal_method = 'checkCard'
		and CATEGORY_NAME NOT IN ('저축', '재테크')
</where>
)
where rn between #{startRow} and #{endRow} 
</select>

<select id="saveList" resultType="dealDTO">
select *
from (select row_number() over(order by DEAL_DATE desc) as rn
	,<include refid="BaseColumns"/>
	from deal
<where>
	<if test="assetListDTO.searchWord != null">
		(DEAL_PRICE like '%'||#{assetListDTO.searchWord}||'%'
		or CATEGORY_TYPE like '%'||#{assetListDTO.searchWord}||'%'
		or DEAL_CONTENTS like '%'||#{assetListDTO.searchWord}||'%')
	</if>
	<if test="categoryType != null">
		and CATEGORY_TYPE = #{categoryType}
	</if>
	and member_num = #{assetListDTO.memberNum}
	and deal_method = 'checkCard'
	and CATEGORY_NAME = '저축'
</where>
)
where rn between #{assetListDTO.startRow} and #{assetListDTO.endRow} 
</select>

<select id="jaetechList" resultType="dealDTO">
select *
from (select row_number() over(order by DEAL_DATE desc) as rn
	,<include refid="BaseColumns"/>
	from deal
<where>
	<if test="assetListDTO.searchWord != null">
		(DEAL_PRICE like '%'||#{assetListDTO.searchWord}||'%'
		or CATEGORY_TYPE like '%'||#{assetListDTO.searchWord}||'%'
		or DEAL_CONTENTS like '%'||#{assetListDTO.searchWord}||'%')
	</if>
	<if test="categoryType != null">
		and CATEGORY_TYPE = #{categoryType}
	</if>
	and member_num = #{assetListDTO.memberNum}
	and deal_method = 'checkCard'
	and CATEGORY_NAME = '재테크'
</where>
)
where rn between #{assetListDTO.startRow} and #{assetListDTO.endRow} 
</select>

<select id="creditList" parameterType="assetListDTO" resultType="dealDTO">
select *
from (select row_number() over(order by DEAL_DATE desc) as rn
	,<include refid="BaseColumns"/>
	from deal
<where>
	<if test="searchWord != null">
		(DEAL_PRICE like '%'||#{searchWord}||'%'
		or CATEGORY_TYPE like '%'||#{searchWord}||'%'
		or DEAL_CONTENTS like '%'||#{searchWord}||'%')
	</if>
		and member_num = #{memberNum}
		and deal_method = 'creditCard'
</where>
)
where rn between #{startRow} and #{endRow} 
</select>

<select id="monthEx" resultType="int">
select sum(deal_price) from deal
	where member_num = #{memberNum}
	and deal_date between #{dealStartDate} and #{dealEndDate}
	and CATEGORY_NAME = '지출'
</select>
<select id="monthIm" resultType="int">
select sum(deal_price) from deal
	where member_num = #{memberNum}
	and deal_date between #{dealStartDate} and #{dealEndDate}
	and CATEGORY_NAME = '수입'
</select>

<select id="todayEx" parameterType="string" resultType="int">
select sum(deal_price) from deal
	where member_num = #{memberNum}
	and trunc(deal_date) = trunc(sysdate)
	and CATEGORY_NAME = '지출'
</select>

<select id="todayIm" parameterType="string" resultType="int">
select sum(deal_price) from deal
	where member_num = #{memberNum}
	and trunc(deal_date) = trunc(sysdate)
	and CATEGORY_NAME = '수입'
</select>
</mapper>