<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.DealMapper">
<sql id="BaseColums">
	DEAL_NUM, MEMBER_NUM, DEAL_PRICE, DEAL_CONTENTS
	, DEAL_METHOD, DEAL_DATE, CATEGORY_NAME, CATEGORY_TYPE
</sql>
<insert id="dealInsert" parameterType="dealDTO">
insert into deal(DEAL_NUM, MEMBER_NUM, DEAL_PRICE
				 <if test="dealContents != null">
				 ,DEAL_CONTENTS
				 </if>
				 ,DEAL_METHOD, DEAL_DATE,
				 CATEGORY_NAME, CATEGORY_TYPE)
values(#{dealNum}, #{memberNum}, #{dealPrice}
	<if test="dealContents != null">
	,#{dealContents}
	</if>
	,#{dealMethod}, #{dealDate}
	,#{categoryName}, #{categoryType})
</insert>

<select id="dealList" parameterType="searchDTO" resultType="dealDTO">
select *
from (select row_number() over(order by DEAL_DATE desc) as rn
	, <include refid="BaseColums"/>
	from deal
<where>
	<if test="searchWord != null">
	(
		CATEGORY_NAME like '%'||#{searchWord}||'%'
		or CATEGORY_TYPE like '%'||#{searchWord}||'%'
		or DEAL_METHOD like '%'||#{searchWord}||'%'
		or DEAL_CONTENTS like '%'||#{searchWord}||'%'
	)
	</if>
	<if test="categoryName != null and categoryName != '전체'">
        AND CATEGORY_NAME = #{categoryName}
    </if>
    <if test="categoryType != null and categoryType != '전체'">
        AND CATEGORY_TYPE = #{categoryType}
    </if>
    <if test="dealMethod != null and dealMethod != '전체'">
        AND DEAL_METHOD = #{dealMethod}
    </if>
 	<if test="dealStartDate != null and dealEndDate != null">
        AND deal_date BETWEEN #{dealStartDate} AND #{dealEndDate}
    </if>
    AND MEMBER_NUM = #{memberNum}
</where>
)
where rn between #{startRow} and #{endRow}
</select>

<select id="dealCount" resultType="integer">
select count(*) from deal
</select>

<select id="dealDetail" parameterType="string" resultType="dealDTO">
	select * from deal
	where deal_num = #{dealNum}
</select>

<update id="dealUpdate" parameterType="dealDTO">
update deal
set DEAL_PRICE = #{dealPrice},
	<if test="dealContents != null">
	DEAL_CONTENTS = #{dealContents},
	</if>
	DEAL_METHOD = #{dealMethod},
	DEAL_DATE = #{dealDate},
	CATEGORY_TYPE = #{categoryType}
where deal_num = #{dealNum}
</update>

<delete id="dealDelete" parameterType="string">
delete from deal where deal_num = #{dealNum}
</delete>
</mapper>