<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.EmployeeMapper">
<sql id="BaseColumns">
EMP_NUM, DEPARTMENT_NUM, EMP_NAME, EMP_ID, EMP_PW, EMP_JUMIN, EMP_ADDR, EMP_ADDR_DETAIL, EMP_PHONE, EMP_EMAIL, REGIST_DATE , EMP_POST
</sql>

<insert id="employeeInsert">
	insert into employees ( <include refid="BaseColumns" /> )
	values (#{empNum}, 1, #{empName}, #{empId}, #{empPw}, #{empJumin},
	 #{empAddr}, #{empAddrDetail}, #{empPhone}, #{empEmail}, sysdate, #{empPost})
</insert>

<select id="employeeSelectAll">
	select <include refid="BaseColumns" /> from employees order by emp_num
</select>

<select id="employeeSelectOne">
	select <include refid="BaseColumns" /> from employees
	where emp_num = #{empNum}
</select>

<update id="employeeUpdate">
	update employees set
	EMP_NAME = #{empName}
	, EMP_ID = #{empId}
	, EMP_JUMIN = #{empJumin}
	, EMP_ADDR = #{empAddr}
	, EMP_ADDR_DETAIL = #{empAddrDetail}
	, EMP_PHONE = #{empPhone}
	, EMP_EMAIL = #{empEmail}
	, EMP_POST = #{empPost}
	, department_num = #{departmentNum}
	where emp_num = #{empNum}
</update>
<update id="setDepartmentNumUpdate">
	update employees set
	department_num = #{departmentNum}
	where emp_num = #{empNum}
</update>

<delete id="employeeDelete">
	delete from employees
	where emp_num = #{empNum}
</delete>


<insert id="departmentInsert">
	insert into department (DEPARTMENT_NUM,MANAGER_NUM,DEPARTMENT_NAME,DEPARTMENT_TEL,DEPARTMENT_CONTENTS, JOB_TITLE)
	values (#{departmentNum}, null, #{departmentName}, #{departmentTel}, #{departmentContents}, #{jobTitle})
</insert>

<resultMap type="departmentDTO" id="departmentEmployeeResultMap">
	<id column="DEPARTMENT_NUM" property="departmentNum"/>
    <result column="MANAGER_NUM" property="managerNum"/>
    <result column="DEPARTMENT_NAME" property="departmentName"/>
    <result column="DEPARTMENT_TEL" property="departmentTel"/>
    <result column="DEPARTMENT_CONTENTS" property="departmentContents"/>
    <result column="JOB_TITLE" property="jobTitle"/>
	<collection property="employeeDTO" ofType="employeeDTO">
	    <id column="EMP_NUM" property="empNum"/>
	    <result column="EMP_NAME" property="empName"/>
	    <result column="EMP_ID" property="empId"/>
	    <result column="EMP_PW" property="empPw"/>
	    <result column="EMP_JUMIN" property="empJumin"/>
	    <result column="EMP_ADDR" property="empAddr"/>
	    <result column="EMP_ADDR_DETAIL" property="empAddrDetail"/>
	    <result column="EMP_PHONE" property="empPhone"/>
	    <result column="EMP_EMAIL" property="empEmail"/>
	    <result column="REGIST_DATE" property="registDate"/>
	    <result column="EMP_POST" property="empPost"/>
	</collection>
</resultMap>

<select id="departmentEmployeeSelectAll" resultMap="departmentEmployeeResultMap">
	select d.DEPARTMENT_NUM,MANAGER_NUM,DEPARTMENT_NAME,DEPARTMENT_TEL,DEPARTMENT_CONTENTS
	, EMP_NUM, EMP_NAME, EMP_ID, EMP_PW, EMP_JUMIN, EMP_ADDR, EMP_ADDR_DETAIL, EMP_PHONE, EMP_EMAIL, REGIST_DATE, JOB_TITLE , EMP_POST
	from department d left outer join employees e
	on d.department_num = e.department_num
</select>

<select id="departmentEmployeeSelectOne" resultMap="departmentEmployeeResultMap">
	select d.DEPARTMENT_NUM,MANAGER_NUM,DEPARTMENT_NAME,DEPARTMENT_TEL,DEPARTMENT_CONTENTS
	, EMP_NUM, EMP_NAME, EMP_ID, EMP_PW, EMP_JUMIN, EMP_ADDR, EMP_ADDR_DETAIL, EMP_PHONE, EMP_EMAIL, REGIST_DATE, JOB_TITLE , EMP_POST
	from department d left outer join employees e
	on d.department_num = e.department_num
	where d.department_num = #{departmentNum}
</select>

<update id="departmentUpdate">
	update department set
	DEPARTMENT_NAME = #{departmentName},DEPARTMENT_TEL = #{departmentTel}, DEPARTMENT_CONTENTS = #{departmentContents}, JOB_TITLE = #{jobTitle}
	where DEPARTMENT_NUM = #{departmentNum}
</update>


</mapper>