<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.FindMapper">
<select id="findId" parameterType="string" resultType="string">
select member_id
from members
where member_email = #{_userEmail} 
and member_phone = #{_userPhone} 
union
select emp_id
from employees
where emp_phone = #{_userPhone} and emp_email = #{_userEmail}
</select>

<select id="compare" parameterType="map" resultType="authDTO">
    select member_num as userNum, member_id as userId, member_pw as userPw, member_name as userName, member_email as userEmail, 'mem' grade
    from members
    where member_id = #{_userId} 
    and member_phone = #{_userPhone} 
    union
    select emp_num, emp_id, emp_pw, emp_name, emp_email, 'emp' 
    from employees
    where emp_phone = #{_userPhone} and emp_id = #{_userId}
</select>
<update id="pwMemberChange" parameterType="String">
update members
set member_pw = #{pw}
where member_num = #{userNum}
</update>
<update id="pwEmployeeChange" parameterType="String">
update employees
set emp_pw = #{pw}
where emp_num = #{userNum}
</update>
</mapper>