<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.GoodsMapper">

<sql id="goodsColumnsBase">
	   goods_Num , goods_name , goods_price ,goods_contents , emp_num  
	  ,goods_regist , GOODS_MAIN_IMAGE ,GOODS_MAIN_STORE_IMAGE 
	  , GOODS_DETAIL_IMAGE ,GOODS_DETAIL_STORE_IMAGE, goods_kind
</sql>

<insert id="goodsInsert" parameterType="goodsDTO">
insert into goods ( <include refid="goodsColumnsBase" /> )
values(#{goodsNum}, #{goodsName}, #{goodsPrice}, #{goodsContents}
		,null, sysdate, 
		#{goodsMainImage}, #{goodsMainStoreImage},
		<if test="goodsDetailImage != null">
		#{goodsDetailImage},#{goodsDetailStoreImage},
		</if>
		<if test="goodsDetailImage == null">
		null,null,
		</if>
		,#{goodsKind})
</insert>
</mapper>