<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.IpgoMapper">
<sql id="BaseColumns">
	IPGO_NUM, IPGO_QTY, IPGO_DATE, IPGO_PRICE
	,EMP_NUM, GOODS_NUM
</sql>

<insert id="ipgoRegist" parameterType="ipgoDTO">
  insert into ipgo ( <include refid="BaseColumns" /> )
  values (#{ipgoNum, jdbcType=VARCHAR}, #{ipgoQty, jdbcType=INTEGER}, #{ipgoDate, jdbcType=TIMESTAMP}, 
  #{ipgoPrice, jdbcType=INTEGER}, null, #{goodsNum, jdbcType=VARCHAR})
</insert>

<select id="ipgoSelectAll" resultType="ipgoDTO">
SELECT * FROM ipgo
ORDER BY ipgo_num ASC
</select>

<delete id="ipgoDelete" parameterType="String">
delete from ipgo where ipgo_num = #{ipgoNum}
</delete>
</mapper>