<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.MemberMapper">
<sql id="BaseColumns">
		MEMBER_NUM, MEMBER_NAME, MEMBER_ID, MEMBER_PW
		,MEMBER_ADDR, MEMBER_ADDR_DETAIL, MEMBER_POST
		,MEMBER_REGIST, MEMBER_GENDER, MEMBER_PHONE
		,MEMBER_EMAIL , MEMBER_BIRTH
</sql>

<insert id="memberinsert" parameterType="memberDTO">
insert into members (<include refid="BaseColumns"/>)
values(#{memberNum}, #{memberName}, #{memberId}
	   ,#{memberPw}, #{memberAddr}, #{memberAddrDetail}
	   ,#{memberPost}, sysdate, #{memberGender}
	   ,#{memberPhone}, #{memberEmail}, #{memberBirth})
</insert>

<select id="memberList" parameterType="memberDTO">
select <include refid="BaseColumns"/>
from members
</select>

<select id="memberDetail" parameterType="string" resultType="memberDTO">
select <include refid="BaseColumns"/>
from members
where MEMBER_NUM = #{memberNum}
</select>

<update id="memberUpdate" parameterType="memberDTO">
update members
set
	MEMBER_NAME = #{memberName},
	MEMBER_ID = #{memberId},
	MEMBER_ADDR = #{memberAddr},
	<if test="memberAddrDetail != null">
	MEMBER_ADDR_DETAIL = #{memberAddrDetail},
	</if>
	<if test="memberAddrDetail == null">
	MEMBER_ADDR_DETAIL = null,
	</if>
	MEMBER_POST = #{memberPost},
	MEMBER_GENDER = #{memberGender},
	MEMBER_PHONE = #{memberPhone},
	MEMBER_EMAIL = #{memberEmail},
	MEMBER_BIRTH = #{memberBirth}
where MEMBER_NUM = #{memberNum}
</update>

<delete id="memberDelete" parameterType="string">
delete from members
where MEMBER_NUM = #{memberNum}
</delete>
<select id="memberNumSelect" parameterType="string" resultType="string">
	select member_num from members where member_id = #{memberId}
</select>
</mapper>