<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCAsset.mapper.PurchaseMapper">
<sql id="purchaseBaseColumns">
  PURCHASE_NUM, PURCHASE_DATE, PURCHASE_PRICE, DISCOUNT_PRICE, PURCHASE_SALE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL
, DELIVERY_POST, DELIVERY_TEL, MESSAGE, PURCHASE_STATUS, MEMBER_NUM, DELIVERY_NAME, PURCHASE_NAME
</sql>

<select id="selectPurchaseNum" resultType="string">
select concat(to_char(sysdate,'yyyyMMdd') , COALESCE(max(to_number(substr(purchase_num,9))),0 ) +1)
from purchase
where substr(purchase_num,1 ,8) = to_char(sysdate,'yyyyMMdd')
</select>

<insert id="purchaseInsert" parameterType="purchase" >
insert into purchase( <include refid="purchaseBaseColumns" /> )
values(#{purchaseNum},sysdate,#{purchasePrice}, null, null
	  ,#{deliveryAddr},#{deliveryAddrDetail},#{deliveryPost}
	  ,#{deliveryTel},#{message},'입금대기중',#{memberNum}, #{deliveryName, jdbcType=VARCHAR}, #{purchaseName})
</insert>

<insert id="purchaseListInsert" parameterType="hashmap">
insert into purchase_list(GOODS_NUM, PURCHASE_NUM, PURCHASE_QTY, GOODS_UNIT_PRICE)
select c.GOODS_NUM, #{purchaseNum}, CART_QTY , CART_QTY * goods_price
from cart c join goods g
on c.goods_num = g.goods_num 
where member_num = #{memberNum}  
and c.goods_num in 
<foreach collection="goodsNums" item="goodsNum" close=")" open="("
		index="index" separator=",">
	#{goodsNum}
</foreach>
</insert>

<select id="purchaseSelectOne" parameterType="string" resultType="purchase">
select  <include refid="purchaseBaseColumns" />
from purchase
where purchase_num = #{purchaseNum}
</select>

<insert id="paymentInsert" parameterType="payment">
insert into payment(PURCHASE_NUM,CONFIRMNUMBER,CARDNUM,TID,TOTALPRICE,RESULTMESSAGE,PAYMETHOD
					,APPLDATE,APPTIME)
values(#{purchaseNum},#{confirmnumber},#{cardnum},#{tid},#{totalprice},#{resultmessage}
	  ,#{paymethod},#{appldate},#{apptime, jdbcType=TIME})
</insert>

<resultMap type="springBootMVCAsset.domain.OrderListDTO" id="orderListResultMap">
    <!-- Mapping PurchaseDTO -->
    <association property="purchaseDTO" javaType="springBootMVCAsset.domain.PurchaseDTO">
        <constructor>
            <idArg column="purchase_num" javaType="string" />
            <arg column="purchase_date" javaType="java.util.Date" />
            <arg column="purchase_price" javaType="integer" />
            <arg column="delivery_addr" javaType="string" />
            <arg column="delivery_addr_detail" javaType="string" />
            <arg column="delivery_post" javaType="integer" />
            <arg column="delivery_tel" javaType="string" />
            <arg column="message" javaType="string" />
            <arg column="purchase_status" javaType="string" />
            <arg column="member_num" javaType="string" />
            <arg column="delivery_name" javaType="string"/>	
            <arg column="purchase_name" javaType="string" />
        </constructor>
    </association>

    <!-- Mapping PaymentDTO -->
    <association property="paymentDTO" javaType="springBootMVCAsset.domain.PaymentDTO">
        <id column="purchase_num" jdbcType="VARCHAR" property="purchaseNum" />
        <result column="confirmnumber" jdbcType="VARCHAR" property="confirmnumber" />
        <result column="cardnum" jdbcType="VARCHAR" property="cardnum" />
        <result column="appldate" jdbcType="VARCHAR" property="appldate" />
        <result column="apptime" jdbcType="VARCHAR" property="appltime" />
        <result column="totalprice" jdbcType="BIGINT" property="totalprice" />
    </association>

    <!-- Mapping DeliveryDTO -->
    <association property="deliveryDTO" javaType="springBootMVCAsset.domain.DeliveryDTO">
        <id column="purchase_num" jdbcType="VARCHAR" property="purchaseNum" />
        <result column="delivery_num" jdbcType="VARCHAR" property="deliveryNum" />
        <result column="delivery_date" jdbcType="DATE" property="deliveryDate" />
        <result column="delivery_status" jdbcType="VARCHAR" property="deliveryStatus" />
    </association>

    <!-- Mapping PurchaseListGoodsDTO -->
    <collection property="purchaseListGoodsDTOs" ofType="springBootMVCAsset.domain.PurchaseListGoodsDTO">
        <association property="purchaseListDTO" javaType="springBootMVCAsset.domain.PurchaseListDTO">
            <result column="purchase_qty" jdbcType="BIGINT" property="purchaseQty" />
            <result column="goods_unit_price" jdbcType="BIGINT" property="totalPrice" />
        </association>
        
        <!-- Mapping GoodsDTO -->
        <association property="goodsDTO" javaType="springBootMVCAsset.domain.GoodsDTO">
            <id column="goods_num" jdbcType="VARCHAR" property="goodsNum" />
            <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
            <result column="main_store_image" jdbcType="VARCHAR" property="mainStoreImage" />
            <result column="goods_contents" jdbcType="VARCHAR" property="goodsContents" />
        </association>
        
        <!-- Mapping ReviewDTO -->
        <association property="reviewDTO" javaType="springBootMVCAsset.domain.ReviewDTO">
            <result column="regist_date" jdbcType="DATE" property="registDate" />
            <result column="review_contents" jdbcType="VARCHAR" property="reviewContents" />
            <result column="member_id" jdbcType="VARCHAR" property="memberId" />
        </association>
    </collection>
</resultMap>

<select id="orderList" parameterType="hashmap" resultMap="orderListResultMap">
    SELECT
        g.goods_num, g.goods_name, g.main_store_image, g.goods_contents,
        pl.goods_unit_price, pl.purchase_qty,
        p.purchase_num, p.purchase_date, p.purchase_price, p.delivery_addr,
        p.delivery_addr_detail, p.delivery_post, p.delivery_tel, p.message,
        p.purchase_status, p.delivery_name, p.member_num, p.purchase_name,
        pm.confirmnumber, pm.cardnum, pm.appldate, pm.apptime, pm.totalprice,
        d.delivery_num, d.delivery_date, d.delivery_status,
        r.regist_date, r.review_contents, r.member_id
    FROM
        goods g
    JOIN purchase_list pl ON g.goods_num = pl.goods_num
    JOIN purchase p ON pl.purchase_num = p.purchase_num
    LEFT JOIN payment pm ON p.purchase_num = pm.purchase_num
    LEFT JOIN delivery d ON p.purchase_num = d.purchase_num
    LEFT JOIN review r ON pl.purchase_num = r.purchase_num AND pl.goods_num = r.goods_num
    <trim prefix="WHERE" prefixOverrides="AND |OR">
        <if test="memberNum != null">
            AND p.member_num = #{memberNum}
        </if>
        <if test="purchaseNum != null">
            AND p.purchase_num = #{purchaseNum}
        </if>
    </trim>
</select>
<update id="paymentStatusUpdate" parameterType="string"> 
	update purchase
	set PURCHASE_STATUS = '구매확정'
	where purchase_num = #{purchaseNum}
</update>

</mapper>