<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/static/css/assetList.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="/static/js/checkbox.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif;
background-color: #f6fef0;}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
.fa-mail-reply{
    		color: #477f6a;
    		padding-left: 50px;

    	}
    	
    	.fa-mail-reply:hover{
    		transform: scale(1.2);
    	}
</style>
<title>Member Detail</title>
</head>
<body>
<div class="w3-content" style="max-width:1500px">
		<div class="w3-top">

 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Asset</a>
  <a href="/news/newsList" class="w3-bar-item w3-button w3-hide-small">뉴스</a>
  <a href="/stock/stockList" class="w3-bar-item w3-button w3-hide-small">주식</a>
  <a href="/goods/study" class="w3-bar-item w3-button w3-hide-small">강의</a>
  <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button" title="Notifications">공고<i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a href="/announce/announceList" class="w3-bar-item w3-button w3-hide-small">공고</a>
          <a href="/volunteer/receiptCheck" class="w3-bar-item w3-button w3-hide-small">접수확인</a>
       </div>
  </div>
  
  <div th:if="${session.auth != null}">
     <th:block th:if="${session.auth.grade == 'emp'}">
     <div>
     </div>
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">회원관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/member/memberRegist" class="w3-bar-item w3-button">회원등록</a>
           <a href="/member/memberList" class="w3-bar-item w3-button">회원리스트</a>
       </div>
     </div>
     
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">직원관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/employee/employeeRegist" class="w3-bar-item w3-button">직원등록</a>
           <a href="/employee/employeeList" class="w3-bar-item w3-button">직원리스트</a>
           <a href="/employee/departmentList" class="w3-bar-item w3-button">부서</a>
       </div>
     </div>
     <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">상품관리<i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
      <a href="/goods/goodsRegist" class="w3-bar-item w3-button">상품등록</a>
      <a href="/inquire/goodsQuestion" class="w3-bar-item w3-button">상품 문의</a>
      <a href="/goodsIpgo/ipgoList" class="w3-bar-item w3-button">입고현황</a>
    </div>
  </div>
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">지원자관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/volunteer/volunteerList" class="w3-bar-item w3-button">지원자목록</a>
       </div>
     </div>
     </th:block>
  </div>
  <th:block th:if="${session.auth == null or session.auth.grade == 'mem'}">
    <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">상품<i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
            <a href="/item/cartList" class="w3-bar-item w3-button">장바구니</a>
           <a href="/purchase/orderList" class="w3-bar-item w3-button">주문 목록</a>
           <a href="/goods/couponList" class="w3-bar-item w3-button">쿠폰 목록</a>
        </div>
    </div>
            <!-- 마이자산페이지 -->
        <a href="/myAsset/myAssetPage" class="w3-bar-item w3-button">My 자산 페이지</a>
        
        <!-- 회원 마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">My 페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/memberMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
              <a href="/news/myNewsList" class="w3-bar-item w3-button">내 뉴스 보기</a>
              <a href="/myPage/memberMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
              <a href="/myPage/memberMyDelete" class="w3-bar-item w3-button">회원 탈퇴</a>
            </div>
        </div>
</th:block>

       <div th:if="${session.auth != null}">
       <th:block th:if="${session.auth.grade == 'emp'}">
       <a href="/purchase/purchaseList" class="w3-bar-item w3-button">주문 내역</a>
        <!-- 직원마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">My 페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/empMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
              <a href="/myPage/empMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
            </div>
        </div>
       </th:block>
     <a href="/login/logout" class="w3-bar-item w3-button w3-hide-small" title="Search">로그아웃</a>
  </div>
  <div th:if="${session.auth == null}">
       <a href="/login/login" class="w3-bar-item w3-button w3-hide-small">로그인</a>
       
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>
</div>
 <br/> <br/> <br/>
 <a href="javascript:history.back()"><i class="fa fa-mail-reply" style="font-size:40px;"></i></a>
  <h2 align="center">My 자산 관리</h2><br/><br/>
  <div class="all-container" align="center">
    <br/>
    <div class="total-asset">
        총 자산: <b>[[${dto.totalAsset}]]원</b>
    </div>
    <div class="table-container">
    <!-- 현금 테이블-->
    <div class="table1">
		<table class="cash-table">
			<thead>
				<tr>
					<td><b>현금</b> </td>
					<td><b>[[${dto.totalCash}]]원</b>
					<a href="/myAsset/cashList"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto : ${cashList}">
					<td>
						[[${dto.categoryType}]]
						<span th:if="${dto.categoryType == null}">...</span>
					</td>
					<td>
						<span th:if="${dto.categoryName != null}">
							<span th:if="${dto.categoryName == '지출'}" style="color: red;">- [[${dto.dealPrice}]]원</span>
	            			<span th:if="${dto.categoryName == '수입'}" style="color: green;">+ [[${dto.dealPrice}]]원</span>
	            			<span th:if="${dto.categoryName != '지출' and dto.categoryName != '수입'}">[[${dto.dealPrice}]]원</span>
	            		</span>
	            		<span th:if="${dto.categoryName == null}">...</span>
	            	</td>
				</tr>
				<tr>
					<td>...</td>
					<td>...</td>
				</tr>
			</tbody>
		</table>
	</div>
    
    <!-- 통장 테이블 -->
    <div class="table2">
		<table class="bank-table">
			<thead>
				<tr>
					<td><b>통장</b> </td>
					<td><b>[[${dto.totalCheck}]]원</b>
					<a href="/myAsset/bankList"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto : ${bankList}">
					<td>
						[[${dto.categoryType}]]
						<span th:if="${dto.categoryType == null}">...</span>
					</td>
					<td>
						<span th:if="${dto.categoryName != null}">
							<span th:if="${dto.categoryName == '지출'}" style="color: red;">- [[${dto.dealPrice}]]원</span>
	            			<span th:if="${dto.categoryName == '수입'}" style="color: green;">+ [[${dto.dealPrice}]]원</span>
	            			<span th:if="${dto.categoryName != '지출' and dto.categoryName != '수입'}">[[${dto.dealPrice}]]원</span>
	            		</span>
	            		<span th:if="${dto.categoryName == null}">...</span>
	            	</td>
				</tr>
				<tr>
					<td>...</td>
					<td>...</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- 저축 테이블 -->
    <div class="table3">
		<table class="save-table">
			<thead>
				<tr>
					<td><b>저축</b> </td>
					<td><b>[[${totalSave}]]원</b>
					<a href="/myAsset/saveList"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>예금</td>
					<td>[[${totalYegeumPrice}]]원
					<a href="/myAsset/saveList?categoryType=예금"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
				<tr>
					<td>적금</td>
					<td>[[${totalJuckgeumPrice}]]원
					<a href="/myAsset/saveList?categoryType=적금"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
				<tr>
					<td>기타</td>
					<td>[[${totalSaveGitaPrice}]]원
					<a href="/myAsset/saveList?categoryType=기타"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- 재테크 테이블 -->
    <div class="table4">
		<table class="jtc-table">
			<thead>
				<tr>
					<td><b>재테크</b> </td>
					<td><b>[[${totalJaeTech}]]원</b>
					<a href="/myAsset/jaetechList"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>펀드</td>
					<td>[[${totalFundPrice}]]원
					<a href="/myAsset/jaetechList?categoryType=펀드"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
				<tr>
					<td>투자</td>
					<td>[[${totalToojaPrice}]]원
					<a href="/myAsset/jaetechList?categoryType=투자"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
				<tr>
					<td>주식</td>
					<td>[[${totalJusickPrice}]]원
					<a href="/myAsset/jaetechList?categoryType=주식"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
				<tr>
					<td>기타</td>
					<td>[[${totalJaeTechGitaPrice}]]원
					<a href="/myAsset/jaetechList?categoryType=기타"><i class="fa fa-chevron-circle-right" style="font-size:20px;"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
  </div>
</div>
</body>
</html>
		