<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/static/css/dealList.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>

<style>
body,h1 {font-family: "Raleway", Arial, sans-serif;
background-color: #f6fef0;}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
.fa-mail-reply{
    		color: #477f6a;
    		padding-left: 50px;

    	}
    	
    	.fa-mail-reply:hover{
    		transform: scale(1.1);
    	}
</style>
<title>Member Detail</title>
</head>
<body>
<div class="w3-content" style="max-width:1500px">
	<div class="w3-top">

 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Asset</a>
  <a href="/news/newsList" class="w3-bar-item w3-button w3-hide-small">뉴스</a>
  <a href="/stock/stockList" class="w3-bar-item w3-button w3-hide-small">주식</a>
  <a href="/goods/study" class="w3-bar-item w3-button w3-hide-small">강의</a>
  <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button" title="Notifications">공고<i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a href="/announce/announceList" class="w3-bar-item w3-button w3-hide-small">공고</a>
          <a href="/volunteer/receiptCheck" class="w3-bar-item w3-button w3-hide-small">접수확인</a>
       </div>
  </div>
  
  <div th:if="${session.auth != null}">
     <th:block th:if="${session.auth.grade == 'emp'}">
     <div>
     </div>
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">회원관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/member/memberRegist" class="w3-bar-item w3-button">회원등록</a>
           <a href="/member/memberList" class="w3-bar-item w3-button">회원리스트</a>
       </div>
     </div>
     
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">직원관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/employee/employeeRegist" class="w3-bar-item w3-button">직원등록</a>
           <a href="/employee/employeeList" class="w3-bar-item w3-button">직원리스트</a>
           <a href="/employee/departmentList" class="w3-bar-item w3-button">부서</a>
       </div>
     </div>
     <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">상품관리<i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
      <a href="/goods/goodsRegist" class="w3-bar-item w3-button">상품등록</a>
      <a href="/inquire/goodsQuestion" class="w3-bar-item w3-button">상품 문의</a>
      <a href="/goodsIpgo/ipgoList" class="w3-bar-item w3-button">입고현황</a>
    </div>
  </div>
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">지원자관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/volunteer/volunteerList" class="w3-bar-item w3-button">지원자목록</a>
       </div>
     </div>
     </th:block>
  </div>
  <th:block th:if="${session.auth == null or session.auth.grade == 'mem'}">
    <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">상품<i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
            <a href="/item/cartList" class="w3-bar-item w3-button">장바구니</a>
           <a href="/purchase/orderList" class="w3-bar-item w3-button">주문 목록</a>
           <a href="/goods/couponList" class="w3-bar-item w3-button">쿠폰 목록</a>
        </div>
    </div>
            <!-- 마이자산페이지 -->
        <a href="/myAsset/myAssetPage" class="w3-bar-item w3-button">My 자산 페이지</a>
        
        <!-- 회원 마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">My 페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/memberMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
              <a href="/news/myNewsList" class="w3-bar-item w3-button">내 뉴스 보기</a>
              <a href="/myPage/memberMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
              <a href="/myPage/memberMyDelete" class="w3-bar-item w3-button">회원 탈퇴</a>
            </div>
        </div>
</th:block>

       <div th:if="${session.auth != null}">
       <th:block th:if="${session.auth.grade == 'emp'}">
       <a href="/purchase/purchaseList" class="w3-bar-item w3-button">주문 내역</a>
        <!-- 직원마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">My 페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/empMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
              <a href="/myPage/empMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
            </div>
        </div>
       </th:block>
     <a href="/login/logout" class="w3-bar-item w3-button w3-hide-small" title="Search">로그아웃</a>
  </div>
  <div th:if="${session.auth == null}">
       <a href="/login/login" class="w3-bar-item w3-button w3-hide-small">로그인</a>
       
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>
</div>
 <br/> <br/> <br/>
 <a id="backLink"><i class="fa fa-mail-reply" style="font-size:40px;"></i></a>
<div class="my-transaction">
	<span th:if="${categoryType == ''}"><h1>재테크</h1></span>
    <span th:if="${categoryType == '펀드'}"><h1>예금</h1></span>
    <span th:if="${categoryType == '투자'}"><h1>적금</h1></span>
    <span th:if="${categoryType == '주식'}"><h1>주식</h1></span>
    <span th:if="${categoryType == '기타'}"><h1>기타 재테크</h1></span>
    <br/>
    <!-- 검색 -->
    <form action="jaetechList" method="get">
	    <div class="search-input" style="text-align:right;">
	    	<input type="text" name="categoryType" th:value="${categoryType}" hidden="hidden">
	    	<input type="search" name="searchWord" size="40" placeholder="검색어 입력">
	        <input type="submit" value="&#128269;">
	    </div>
    </form>
    <br/>
    <!-- 거래 내역 리스트 -->
    <div class="transaction-list">
        <form action="dealsDelete" method="post" id="frm">
            <table>
             	<div style="text-align: left;">
    				<b>총 금액:  
    					<span th:if="${categoryType == ''}">[[${#numbers.formatCurrency(totalJaeTech).replace('₩','')}]]원</span>
    					<span th:if="${categoryType == '펀드'}">[[${#numbers.formatCurrency(totalFundPrice).replace('₩','')}]]원</span>
    					<span th:if="${categoryType == '투자'}">[[${#numbers.formatCurrency(totalToojaPrice).replace('₩','')}]]원</span>
    					<span th:if="${categoryType == '주식'}">[[${#numbers.formatCurrency(totalJusickPrice).replace('₩','')}]]원</span>
    					<span th:if="${categoryType == '기타'}">[[${#numbers.formatCurrency(totalJaeTechGitaPrice).replace('₩','')}]]원</span>
    				</b>
    			</div>
                 <div style="text-align: right;">
    				<a href="/myPage/memberMyDetail">
        				<b style="text-decoration : underline;">[[${memberId}]]</b>
        			</a>님의 
        			<span th:if="${categoryType == ''}"><b>총 재태크</b> 내역 입니다</span>
    				<span th:if="${categoryType == '펀드'}"><b>펀드</b> 내역 입니다</span>
    				<span th:if="${categoryType == '투자'}"><b>투자</b> 내역 입니다</span>
    				<span th:if="${categoryType == '주식'}"><b>주식</b> 내역 입니다</span>
    				<span th:if="${categoryType == '기타'}"><b>기타 저축</b> 내역 입니다</span>
    			 </div>
                <thead>
                    <tr>
                    	<th style="background-color: #e2b8f8;"><input type="checkbox" id="dealCheckBoxs"/></th>
                        <th style="background-color: #e2b8f8;">거래내용</th>
                        <th style="background-color: #e2b8f8;">날짜</th>
                        <th style="background-color: #e2b8f8;">금액</th>
                        <th style="background-color: #e2b8f8;"><button type="submit">선택 삭제</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dto : ${list}">
                    	<td><input type="checkbox" name="dealNums" th:value="${dto.dealNum}"/></td>
                        <td>
	                        <span th:if="${dto.categoryType == '펀드'}" style="color: #36e2d6;"><i class="fa fa-circle" style="font-size:15px"></i></span>
			            	<span th:if="${dto.categoryType == '투자'}" style="color: #3661e2;"><i class="fa fa-circle" style="font-size:15px"></i></span>
			            	<span th:if="${dto.categoryType == '주식'}" style="color: #6f36e2;"><i class="fa fa-circle" style="font-size:15px"></i></span>
			            	<span th:if="${dto.categoryType == '기타'}" style="color: #aaaaaa;"><i class="fa fa-circle" style="font-size:15px"></i></span>
	                        [[${dto.categoryType}]]
	                   	</td>
                        <td>[[${#dates.format(dto.dealDate, 'yyyy-MM-dd')}]]</td>
                        <td><a th:href="|/myAsset/dealDetail?dealNum=${dto.dealNum}|">
                        	<span th:if="${dto.categoryName == '지출'}" style="color: red;">[[${#numbers.formatCurrency(dto.dealPrice).replace('₩','')}]]원</span>
            				<span th:if="${dto.categoryName == '수입'}" style="color: green;">[[${#numbers.formatCurrency(dto.dealPrice).replace('₩','')}]]원</span>
            				<span th:if="${dto.categoryName != '지출' and dto.categoryName != '수입'}">[[${#numbers.formatCurrency(dto.dealPrice).replace('₩','')}]]원</span>
							<th:block th:if="${dto.dealMethod == 'cash'}">
								&#128181;
							</th:block>
							<th:block th:if="${dto.dealMethod == 'creditCard'}">
								&#128179;
							</th:block>
							<th:block th:if="${dto.dealMethod == 'checkCard'}">
								<th:block th:if="${dto.categoryName == '지출'}">
									&#128179;
								</th:block>
								<th:block th:if="${dto.categoryName == '수입'}">
									&#128179;
								</th:block>
								<th:block th:if="${dto.categoryName == '저축'}">
									&#128176;
								</th:block>
								<th:block th:if="${dto.categoryName == '재테크'}">
									&#128176;
								</th:block>
							</th:block>
                        	</a></td>
                    	<td><button type="button" th:attr="onclick=|javascript:location.href='dealsDelete?dealNums=${dto.dealNum}'|">삭제</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- 페이지 네비게이션 -->
    <div class="pagination">
    <span th:if="${page <= 1}">[이전]</span>
        <span th:if="${page > 1}">
            <a th:href="|jaetechList?page=${page - 1}&assetListDTO=${assetListDTO}&categoryType=${categoryType}|">[이전]</a>
        </span>
        <span th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
            <a th:href="|jaetechList?page=${i}&assetListDTO=${assetListDTO}&categoryType=${categoryType}|">[[${i}]]</a>
        </span>
        <span th:if="${page < maxPage}">
            <a th:href="|jaetechList?page=${page + 1}&assetListDTO=${assetListDTO}&categoryType=${categoryType}|">[다음]</a>
        </span>
        <span th:if="${page <= maxPage}">
               [다음]
        </span>
    </div>
</div>
</div>

<script type="text/javascript">

const pastLink = document.referrer;
const backLink = document.getElementById("backLink");

if (pastLink.includes("/myAsset/myAssetPage")) {
    backLink.setAttribute("href", "javascript:history.back()");
} else {
    backLink.setAttribute("href", "/myAsset/assetList");
}
</script>
</body>
</html>
