<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/static/js/daumAddressScript.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<title>Member Detail</title>
</head>
<body>
<div class="w3-content" style="max-width:1500px">
	<div class="w3-top">

 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Asset</a>
  <a href="/news/newsList" class="w3-bar-item w3-button w3-hide-small">뉴스</a>
  <a href="/stock/stockList" class="w3-bar-item w3-button w3-hide-small">주식</a>
  <a href="/goods/study" class="w3-bar-item w3-button w3-hide-small">강의</a>
  <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button" title="Notifications">공고<i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a href="/announce/announceList" class="w3-bar-item w3-button w3-hide-small">공고</a>
          <a href="/volunteer/receiptCheck" class="w3-bar-item w3-button w3-hide-small">접수확인</a>
       </div>
  </div>
  
  <div th:if="${session.auth != null}">
     <th:block th:if="${session.auth.grade == 'emp'}">
     <div>
     </div>
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">회원관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/member/memberRegist" class="w3-bar-item w3-button">회원등록</a>
           <a href="/member/memberList" class="w3-bar-item w3-button">회원리스트</a>
       </div>
     </div>
     
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">직원관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/employee/employeeRegist" class="w3-bar-item w3-button">직원등록</a>
           <a href="/employee/employeeList" class="w3-bar-item w3-button">직원리스트</a>
           <a href="/employee/departmentList" class="w3-bar-item w3-button">부서</a>
       </div>
     </div>
     <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">상품관리<i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
      <a href="/goods/goodsRegist" class="w3-bar-item w3-button">상품등록</a>
      <a href="/inquire/goodsQuestion" class="w3-bar-item w3-button">상품 문의</a>
      <a href="/goodsIpgo/ipgoList" class="w3-bar-item w3-button">입고현황</a>
    </div>
  </div>
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">지원자관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/volunteer/volunteerList" class="w3-bar-item w3-button">지원자목록</a>
       </div>
     </div>
     </th:block>
  </div>
  <th:block th:if="${session.auth == null or session.auth.grade == 'mem'}">
    <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">상품<i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
            <a href="/item/cartList" class="w3-bar-item w3-button">장바구니</a>
           <a href="/purchase/orderList" class="w3-bar-item w3-button">주문 목록</a>
           <a href="/goods/couponList" class="w3-bar-item w3-button">쿠폰 목록</a>
        </div>
    </div>
            <!-- 마이자산페이지 -->
        <a href="/myAsset/myAssetPage" class="w3-bar-item w3-button">My 자산 페이지</a>
        
        <!-- 회원 마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">My 페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/memberMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
              <a href="/news/myNewsList" class="w3-bar-item w3-button">내 뉴스 보기</a>
              <a href="/myPage/memberMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
              <a href="/myPage/memberMyDelete" class="w3-bar-item w3-button">회원 탈퇴</a>
            </div>
        </div>
</th:block>

       <div th:if="${session.auth != null}">
       <th:block th:if="${session.auth.grade == 'emp'}">
       <a href="/purchase/purchaseList" class="w3-bar-item w3-button">주문 내역</a>
        <!-- 직원마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">My 페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/empMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
              <a href="/myPage/empMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
            </div>
        </div>
       </th:block>
     <a href="/login/logout" class="w3-bar-item w3-button w3-hide-small" title="Search">로그아웃</a>
  </div>
  <div th:if="${session.auth == null}">
       <a href="/login/login" class="w3-bar-item w3-button w3-hide-small">로그인</a>
       
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>
</div>
 
  <div align="center">
    <h2>Member Detail</h2>
    <p>[[${memberCommand.memberName}]]님의 상세정보입니다.</p>
    <a th:href="|memberUpdate?memberNum=${memberCommand.memberNum}|">수정</a> |
    <a th:href="|memberDelete?memberNum=${memberCommand.memberNum}|" style="text-decoration: underline;">삭제</a>
    <hr />

    <table border="1" cellpadding="5" cellspacing="0" style="width: 70%; text-align: left;">
      <tr>
        <th>번호 :</th>
        <td>[[${memberCommand.memberNum}]]</td>
      </tr>
      <tr>
        <th>이름 :</th>
        <td>[[${memberCommand.memberName}]]</td>
      </tr>
      <tr>
        <th>아이디 :</th>
        <td>[[${memberCommand.memberId}]]</td>
      </tr>
      <tr>
        <th>주소 :</th>
        <td>[[${memberCommand.memberAddr}]]</td>
      </tr>
      <tr>
        <th>상세주소 :</th>
        <td>[[${memberCommand.memberAddrDetail}]]</td>
      </tr>
      <tr>
        <th>우편번호 :</th>
        <td>[[${memberCommand.memberPost}]]</td>
      </tr>
      <tr>
        <th>등록일 :</th>
        <td>[[${#dates.format(memberCommand.memberRegist, 'yyyy-MM-dd')}]]</td>
      </tr>
      <tr>
        <th>성별 :</th>
        <td>[[${memberCommand.memberGender}]]</td>
      </tr>
      <tr>
        <th>전화번호 :</th>
        <td>[[${memberCommand.memberPhone}]]</td>
      </tr>
      <tr>
        <th>이메일 :</th>
        <td>[[${memberCommand.memberEmail}]]</td>
      </tr>
      <tr>
        <th>생년월일 :</th>
        <td>[[${#dates.format(memberCommand.memberBirth, 'yyyy-MM-dd')}]]</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
