<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/login.css" />
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
  
//카카오 SDK 초기화
  Kakao.init('7031de59305fd3478286494c20377e94');  // 'YOUR_JAVASCRIPT_KEY'는 실제 카카오에서 발급받은 JavaScript 키로 변경

  // 로그인 함수
  function kakaoLogin() {
    Kakao.Auth.login({
      success: function(authObj) {
        // 로그인 성공 시 처리 (access_token을 얻을 수 있음)
        console.log(authObj);
        // 예: 로그인 성공 후 서버로 access_token 전송
        // 서버에서 유효성 검사 후 사용자 정보 가져오기
      },
      fail: function(err) {
        // 로그인 실패 시 처리
        console.log(err);
      }
    });
  }
  function kakaoLogin() {
	  Kakao.Auth.login({
	    success: function(authObj) {
	      console.log(authObj);  // 로그인 성공 시 authObj에 토큰 포함

	      // 사용자 정보 요청
	      Kakao.API.request({
	        url: '/v2/user/me',
	        success: function(response) {
	          console.log(response);  // 사용자 정보(response) 출력
	          // 예: 서버로 사용자 정보를 전달하여 로그인 처리
	        },
	        fail: function(error) {
	          console.log(error);  // 에러 처리
	        }
	      });
	    },
	    fail: function(err) {
	      console.log(err);
	    }
	  });
	}

</script>
</head>
<body>


<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Asset</a>
  <a href="/goods/goodsList" class="w3-bar-item w3-button w3-hide-small">쇼핑몰</a>
  <a href="/news/newsList" class="w3-bar-item w3-button w3-hide-small">뉴스</a>
  <a href="/stocks" class="w3-bar-item w3-button w3-hide-small">주식</a>
  
  <div class="w3-dropdown-hover w3-hide-small">
  	<button class="w3-button" title="Notifications">회원관리 <i class="fa fa-caret-down"></i></button>
  	<div class="w3-dropdown-content w3-card-4 w3-bar-block">
   	  <a href="/member/memberRegist" class="w3-bar-item w3-button">회원등록</a>
   	  <a href="/member/memberList" class="w3-bar-item w3-button">회원리스트</a>
    </div>
  </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
  	<button class="w3-button" title="Notifications">직원관리 <i class="fa fa-caret-down"></i></button>
  	<div class="w3-dropdown-content w3-card-4 w3-bar-block">
   	  <a href="/employee/employeeRegist" class="w3-bar-item w3-button">직원등록</a>
   	  <a href="/employee/employeeList" class="w3-bar-item w3-button">직원리스트</a>
   	  <a href="/employee/departmentList" class="w3-bar-item w3-button">부서</a>
    </div>
  </div>
 
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">상품 <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
   	  <a href="/goods/goodsList/강의" class="w3-bar-item w3-button">강의</a>
   	  <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
      <a href="/goods/goodsRegist" class="w3-bar-item w3-button">상품등록</a>
      <a href="/goodsIpgo/ipgoList" class="w3-bar-item w3-button">입고현황</a>
    </div>
  </div>
  <a href="/login/login" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search">로그인</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>
</div>
</div>
<br/><br/><br/>
<form action="/login/login" method="post" id="frm" th:object="${loginCommand}">
<table>
    <tr>
        <td><h2>로그인</h2></td>
    </tr>
    <tr>
        <td><input id="userId" type="text" placeholder="ID" th:field="*{userId}" required="required"> <br>
        <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" style="color: red;"></span></td>
        
    </tr>
    <tr>
        <td><input id="userPw" type="password" placeholder="Password" th:field="*{userPw}" required="required" ><br>
        <span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" style="color: red;"></span></td>
        
    </tr>
    <tr>
       <td><input type="checkbox" name="autoLogin" th:checked="${loginCommand.autoLogin}">자동로그인  | <input type="checkbox" name="idStore" th:checked="${loginCommand.userId != null}" >아이디저장</td>
    </tr>
   
    <tr>
       <td><input type="submit" value="로그인" class="btn"></td>
    </tr>
    <tr>
        <td class="join"><a href="/member/memberRegist" >회원가입</a></td>
    </tr>
</table>
<button onclick="kakaoLogin()">카카오 로그인</button>
</form>
</body>
</html>