<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/static/css/goalList.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/checkbox.js"></script>
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif; background-color: #f6fef0;}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
       .large-button {
            width: 120px;
            height: 70px;
            font-size: 17px;
            font-weight: bold;
            border: 1px #ccc;
            border-radius: 10px;
            margin: 10px;
            cursor: pointer;
            color: black;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s, box-shadow 0.2s;
        }

        .large-button:hover {
            transform: scale(1.1);
            box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
        }

        .spend-button {
            background: linear-gradient(to bottom, #fbe7da, #fac2a2); /* 차분한 살구색 느낌 */
        }

        .save-button {
            background: linear-gradient(to bottom, #fbf4cf, #f7e6af); /* 은은한 머스터드 톤 */
        }

		#goalButton {
		    display: flex;
    		flex-direction: column;
    		gap: 20px; /* 버튼 간격 */
    		width: 200px;
    		height: 300px;
    		border: 1px;
		}
		.fa-mail-reply{
    		color: #477f6a;
    		padding-left: 50px;

    	}
    	
    	.fa-mail-reply:hover{
    		transform: scale(1.1);
    	}
</style>
<title>Member Detail</title>
</head>
<body>
<div class="w3-content" style="max-width:1500px">
	<div class="w3-top">

 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Asset</a>
  <a href="/news/newsList" class="w3-bar-item w3-button w3-hide-small">뉴스</a>
  <a href="/stock/stockList" class="w3-bar-item w3-button w3-hide-small">주식</a>
  <a href="/goods/study" class="w3-bar-item w3-button w3-hide-small">강의</a>
  <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button" title="Notifications">공고<i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a href="/announce/announceList" class="w3-bar-item w3-button w3-hide-small">공고</a>
          <a href="/volunteer/receiptCheck" class="w3-bar-item w3-button w3-hide-small">접수확인</a>
       </div>
  </div>
  
  <div th:if="${session.auth != null}">
     <th:block th:if="${session.auth.grade == 'emp'}">
     <div>
     </div>
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">회원관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/member/memberRegist" class="w3-bar-item w3-button">회원등록</a>
           <a href="/member/memberList" class="w3-bar-item w3-button">회원리스트</a>
       </div>
     </div>
     
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">직원관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/employee/employeeRegist" class="w3-bar-item w3-button">직원등록</a>
           <a href="/employee/employeeList" class="w3-bar-item w3-button">직원리스트</a>
           <a href="/employee/departmentList" class="w3-bar-item w3-button">부서</a>
       </div>
     </div>
     <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">상품관리<i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
      <a href="/goods/goodsRegist" class="w3-bar-item w3-button">상품등록</a>
      <a href="/inquire/goodsQuestion" class="w3-bar-item w3-button">상품 문의</a>
      <a href="/goodsIpgo/ipgoList" class="w3-bar-item w3-button">입고현황</a>
    </div>
  </div>
     <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">지원자관리 <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="/volunteer/volunteerList" class="w3-bar-item w3-button">지원자목록</a>
       </div>
     </div>
     </th:block>
  </div>
  <th:block th:if="${session.auth == null or session.auth.grade == 'mem'}">
    <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">상품<i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
            <a href="/item/cartList" class="w3-bar-item w3-button">장바구니</a>
           <a href="/purchase/orderList" class="w3-bar-item w3-button">주문 목록</a>
           <a href="/goods/couponList" class="w3-bar-item w3-button">쿠폰 목록</a>
        </div>
    </div>
            <!-- 마이자산페이지 -->
        <a href="/myAsset/myAssetPage" class="w3-bar-item w3-button">My 자산 페이지</a>
        
        <!-- 회원 마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">My 페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/memberMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
              <a href="/news/myNewsList" class="w3-bar-item w3-button">내 뉴스 보기</a>
              <a href="/myPage/memberMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
              <a href="/myPage/memberMyDelete" class="w3-bar-item w3-button">회원 탈퇴</a>
            </div>
        </div>
</th:block>

       <div th:if="${session.auth != null}">
       <th:block th:if="${session.auth.grade == 'emp'}">
       <a href="/purchase/purchaseList" class="w3-bar-item w3-button">주문 내역</a>
        <!-- 직원마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">My 페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/empMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
              <a href="/myPage/empMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
            </div>
        </div>
       </th:block>
     <a href="/login/logout" class="w3-bar-item w3-button w3-hide-small" title="Search">로그아웃</a>
  </div>
  <div th:if="${session.auth == null}">
       <a href="/login/login" class="w3-bar-item w3-button w3-hide-small">로그인</a>
       
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>
</div>
 <br/> <br/> <br/>
 
  <a href="/myAsset/myAssetPage"><i class="fa fa-mail-reply" style="font-size:40px;"></i></a>
 <div class="my-runGoal">
	<div align="center">
	    <h2>My 자산 목표</h2>
	    <br/>
	</div>
	
	<!-- 진행중인 목표 리스트 -->
    <div class="goal-run-list">
        <form action="goalsDelete" method="post" id="frm">
            <table>
             	<div style="text-align: left;">
    				<b>목표수: [[${goalRunCount}]]개</b>
    			</div>
                 <div style="text-align: right;">
    				<a href="/myPage/memberMyDetail">
        				<b style="text-decoration : underline;">[[${memberId}]]</b>
        			</a>님의 <b>진행중인 목표</b> 리스트 입니다
    			 </div>
                <thead>
                    <tr>
                    	<th><input type="checkbox" id="runGoalCheckBoxs"/></th>
                        <th>번호</th>
                        <th>내용</th>
                        <th>기간</th>
                        <th>현재 금액</th>
                        <th>목표 금액</th>
                        <th>달성율</th>
                        <th><button type="submit">선택 삭제</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dto : ${runlist}">
                    	<td><input type="checkbox" name="runGoalNums" th:value="${dto.goalNum}"/></td>
                        <td>[[${dto.myGoalNum}]]</td>
                        <td><a th:href="|/goal/goalDetail?goalNum=${dto.goalNum}|">
                        	<span th:if="${dto.goalName == '저축'}" style="color: #b1972f;">[[${#strings.abbreviate(dto.goalContents, 13)}]]</span>
							<span th:if="${dto.goalName == '지출'}" style="color: #c06a24;">[[${#strings.abbreviate(dto.goalContents, 13)}]]</span>
                        	</a>
                        </td>
                        <td>[[${#dates.format(dto.startDate, 'yy/MM/dd')}]] <br/>~ [[${#dates.format(dto.endDate, 'yy/MM/dd')}]]</td>
						<td>[[${#numbers.formatCurrency(dto.currentPrice).replace('₩','')}]]원</td>
						<td>[[${#numbers.formatCurrency(dto.goalPrice).replace('₩','')}]]원</td>
						<td style="color:#da0101;font-weight: bold;">[[${dto.goalRate}]]%</td>
                    	<td><button type="button" th:attr="onclick=|javascript:location.href='goalsDelete?goalNums=${dto.goalNum}'|">삭제</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    </div>
    <div class="container">
	    <!-- 버튼들!! -->
	    <div class="goalButton">
			<table class="goal-table">
				<thead>
					<tr><td colspan="2">목표 등록</td></tr>
				</thead>
				<tbody>
					<tr>
						<td><button class="large-button save-button" onclick="location.href='/goal/goalRegist?goalName=저축'">저축</button>
							<br/>100% 달성 시 성공!
						</td>
						<td><button class="large-button spend-button" onclick="location.href='/goal/goalRegist?goalName=지출'">소비</button>
							<br/>0% 초과일 시 성공!
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	
	    <!-- 완료된 목표 리스트 -->
	    
	    <div class="my-finishGoal">
	    <div class="goal-finish-list">
	        <form action="goalsDelete" method="post" id="frm">
	            <table>
	             	<div style="text-align: left;">
	    				<b>목표 수: [[${goalFinishCount}]]개</b>
	    			</div>
	                 <div style="text-align: right;">
	    				<a href="/myPage/memberMyDetail">
	        				<b style="text-decoration : underline;">[[${memberId}]]</b>
	        			</a>님의 <b>완료된 목표</b> 리스트 입니다
	    			 </div>
	                <thead>
	                    <tr>
	                    	<th><input type="checkbox" id="finishGoalCheckBoxs"/></th>
	                        <th>번호</th>
	                        <th>내용</th>
	                        <th>기간</th>
	                        <th>달성 여부</th>
	                        <th><button type="submit">선택 삭제</button></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:each="dto : ${finishlist}">
	                    	<td><input type="checkbox" name="finishGoalNums" th:value="${dto.goalNum}"/></td>
	                        <td>[[${dto.myGoalNum}]]</td>
	                        <td><a th:href="|/goal/goalDetail?goalNum=${dto.goalNum}|">
	                        	<span th:if="${dto.goalName == '저축'}" style="color: #b1972f;">[[${#strings.abbreviate(dto.goalContents, 13)}]]</span>
								<span th:if="${dto.goalName == '지출'}" style="color: #c06a24;">[[${#strings.abbreviate(dto.goalContents, 13)}]]</span>
	                        	</a>
	                        </td>
	                        <td>[[${#dates.format(dto.startDate, 'yy/MM/dd')}]] <br/>~ [[${#dates.format(dto.endDate, 'yy/MM/dd')}]]</td>
							<td style="color:#da0101;font-weight: bold;">
								<span th:if="${dto.goalName == '저축'}">
									<span th:if="${dto.goalRate >= 100}">
										<i class="fa fa-check-circle" style="font-size:25px;color: green;"></i>
									</span>
									<span th:if="${dto.goalRate < 100}">
										<i class="fa fa-close" style="font-size:25px;color:grey;"></i>
									</span>			
								</span>
								<span th:if="${dto.goalName == '지출'}">
									<span th:if="${dto.goalRate <= 0}">
										<i class="fa fa-close" style="font-size:25px;color:#da0101;"></i>
									</span>
									<span th:if="${dto.goalRate > 0}">
										<i class="fa fa-check-circle" style="font-size:25px;color:green;"></i>
									</span>
								</span>
							</td>
	                    	<td><button type="button" th:attr="onclick=|javascript:location.href='goalsDelete?goalNums=${dto.goalNum}'|">삭제</button></td>
	                    </tr>
	                </tbody>
	            </table>
	        </form>
	    </div>
	</div>
</div>
</body>
</html>
