<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Purchase List</title>
<script type="text/javascript">
function deliveryRegist(element){
	var purchaseNum = $(element).data("purchaseNum");
	window.open("/purchase/deliveryRegist?purchaseNum="+purchaseNum, "송장번호등록", "width=600,height=1100,top=50,right=100");
}
function deliveryStatusUpdate(element){
	if (confirm("배송상태(배송중 -> 배송완료)를 업데이트하시겠습니까?")) {
		var deliveryNum = $(element).data('deliveryNum');
			$.ajax({
				type: "post",
				url: "/purchase/deliveryStatusUpdate",
				data: { "deliveryNum": deliveryNum },
				dataType: "json",
				success: function(result) {
					if(result == 200){
						alert("업데이트 완료");
					}
				},
				error: function() {
					alert("업데이트를 실패하였습니다.");
				},
				complete : empPurchaseList
			});
		}
}
</script>
</head>
<body>
  <div align="center">
    <h2>Purchase List</h2>
    주문목록
    <hr/>
 
    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; text-align: center;">
      <thead>
        <tr>
          <th>번호</th>
          <th>사진</th>
          <th>주문번호</th>
          <th>회원번호</th>
          <th>상품명</th>
          <th>주문일자</th>
          <th>결제금액</th>
          <th>배송상태</th>
          <th>송장번호</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto,idx : ${list}">
          <th>[[${idx.count}]]</th>
          <th><img th:src="|/static/images/${dto.purchaseListGoodsDTO[0].goodsDTO.goodsMainStoreImage}|" alt="상품" class="product-image" style="width: 50px;"></th>
          <th>[[${dto.purchaseDTO.purchaseNum}]]</th>
          <th>[[${dto.purchaseDTO.memberNum}]]</th>
          <th>[[${dto.purchaseDTO.purchaseName}]]</th>
          <th>[[${#dates.format(dto.purchaseDTO.purchaseDate,'yyyy.MM.dd')}]]</th>
          
          <th:block th:if="${dto.paymentDTO.totalprice == null}">
          	<th>미결제</th>
          	<th>미결제</th>
          	<th>미등록</th>
          </th:block>
          
          <th:block th:if="${dto.paymentDTO.totalprice != null}">
         	 <th>[[${#numbers.formatCurrency(dto.paymentDTO.totalprice)}]]</th>
	          <th:block th:if="${dto.deliveryDTO.deliveryStatus == null}">
	          	<th>[[${dto.purchaseDTO.purchaseStatus}]] <br></th>
	          	<th><a th:data-purchase-num="${dto.purchaseDTO.purchaseNum}" onclick="deliveryRegist(this)">등록하기(클릭)</a></th>
	          </th:block>
	          <th:block th:if="${dto.deliveryDTO.deliveryStatus != null}">
	          	<th>[[${dto.deliveryDTO.deliveryStatus}]]</th>
	          	<th>[[${dto.deliveryDTO.deliveryNum}]] <br>
	          		<th:block th:if="${dto.deliveryDTO.deliveryStatus != '배송완료'}">
	          			<a th:data-delivery-num="${dto.deliveryDTO.deliveryNum}" onclick="deliveryStatusUpdate(this)">배송중(클릭)</a>
	          		</th:block>
	          		<th:block th:if="${dto.deliveryDTO.deliveryStatus == '배송완료'}">
	          			배송완료
	          		</th:block>
	          	 </th>
	          </th:block>
          </th:block>
          
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
