<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Purchase List</title>

<script type="text/javascript">
function detail(purchaseNum){
    window.open("/delivery/deliveryRegist?purchaseNum=" + purchaseNum, "",
        "width=800,height=800,top=100,left=100");
}
</script>

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f9;
        padding-top: 50px;
    }

    table {
        width: 80%;
        margin: 30px auto;
        border-collapse: collapse;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    td {
        background-color: #ffffff;
    }

    .product-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .product-info img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
    }

    /* Mobile Responsive */
    @media (max-width: 768px) {
        table {
            width: 95%;
        }
        th, td {
            font-size: 14px;
        }
    }
    
</style>
</head>
<body class="w3-content" style="max-width:1200px">

<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Asset</a>
  <a href="/goods/goodsList" class="w3-bar-item w3-button w3-hide-small">쇼핑몰</a>
  <a href="/news/newsList" class="w3-bar-item w3-button w3-hide-small">뉴스</a>
  <a href="/stocks" class="w3-bar-item w3-button w3-hide-small">주식</a>
  
  <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button" title="Notifications">회원관리 <i class="fa fa-caret-down"></i></button>
     <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/member/memberRegist" class="w3-bar-item w3-button">회원등록</a>
        <a href="/member/memberList" class="w3-bar-item w3-button">회원리스트</a>
    </div>
  </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button" title="Notifications">직원관리 <i class="fa fa-caret-down"></i></button>
     <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/employee/employeeRegist" class="w3-bar-item w3-button">직원등록</a>
        <a href="/employee/employeeList" class="w3-bar-item w3-button">직원리스트</a>
        <a href="/employee/departmentList" class="w3-bar-item w3-button">부서</a>
    </div>
  </div>
 
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">상품 <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/goods/goodsList/강의" class="w3-bar-item w3-button">강의</a>
        <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
      <a href="/goods/goodsRegist" class="w3-bar-item w3-button">상품등록</a>
      <a href="/goodsIpgo/ipgoList" class="w3-bar-item w3-button">입고현황</a>
    </div>
  </div>
  <div th:if="${session.auth != null}">
     <th:block th:if="${session.auth.grade == 'mem'}">
        <!-- 마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">마이페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/memberMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
                 <a href="/myPage/memberMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
            </div>
        </div>
        
        <!-- 로그아웃 -->
        
     </th:block>
     <a href="/login/logout" class="w3-bar-item w3-button w3-hide-small" title="Search">로그아웃</a>
  </div>
  <div th:if="${session.auth == null}">
       <a href="/login/login" class="w3-bar-item w3-button w3-hide-small">로그인</a>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>
</div>
<table>
    <tr>
        <th>주문일(결제번호)</th>
        <th>상품명/주문번호</th>
        <th>주문상태</th>
    </tr>
    <tr th:each="orderListDTO : ${list}">
        <td>
            [[${#dates.format(orderListDTO.purchaseDTO.purchaseDate,'yyyy-MM-dd')}]]
            (
            <span th:if="${orderListDTO.paymentDTO.appldate == null}">결제대기중</span>
            <span th:if="${orderListDTO.paymentDTO.appldate != null}">
                <span th:if="${orderListDTO.paymentDTO.confirmnumber == null}">현금결제</span>
                <span th:if="${orderListDTO.paymentDTO.confirmnumber != null}">
                    [[${orderListDTO.paymentDTO.confirmnumber}]]
                </span>
            </span>
            )
        </td>
        <td>
            <th:block th:each="purchaseListGoodsDTO : ${orderListDTO.purchaseListGoodsDTOs}">
                <div class="product-info">
                    <img th:src="|/static/images/${purchaseListGoodsDTO.goodsDTO.mainStoreImage}|" />
                    [[${purchaseListGoodsDTO.goodsDTO.goodsName}]]/[[${orderListDTO.purchaseDTO.purchaseNum}]]
                </div>
            </th:block>
        </td>
        <td>
            <a th:href="|javascript:detail('${orderListDTO.purchaseDTO.purchaseNum}');|">주문상세보기</a> |
            <span th:if="${orderListDTO.paymentDTO.appldate == null}">
                결제대기중
            </span>
            <th:block th:if="${orderListDTO.paymentDTO.appldate != null}">
                <span th:if="${orderListDTO.deliveryDTO.deliveryNum == null}">
                    결제완료
                </span>
                <th:block th:if="${orderListDTO.deliveryDTO.deliveryNum != null}">
                    <span th:if="${orderListDTO.deliveryDTO.deliveryStatus != '배송완료'}">
                        <a th:href="|/delivery/deliveryStatus?purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}|">배송중</a>
                    </span>
                    <span th:if="${orderListDTO.deliveryDTO.deliveryStatus == '배송완료'}">
                        배송완료
                    </span>
                </th:block>
            </th:block>
        </td>
    </tr>
</table>
</body>
</html>
