<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script>
var page = 0;
$(function(){
	loadMoreItems();
	$("#load-more").click(loadMoreItems);
});
function loadMoreItems(){
	page++;
	var maxPage = "[[${maxPage}]]";
	$.ajax({
		url : "/goods/loadMoreGoodsList",
		type: "post",
		data : {"page":page},
		dataType : "html",
		success : function(result){
			$("#content").html(result);
			if(maxPage <= page)$("#load-more").css("display","none");
		},
		error : function(){
			alert("서버오류");
		}
		
	});

}
document.addEventListener("DOMContentLoaded", function() {
    const slider = document.querySelector('.main-image-slider');
    const totalItems = document.querySelectorAll('.main-image-item').length;
    let currentIndex = 0;

    const moveSlider = () => {
        if (currentIndex < totalItems - 1) {
            currentIndex++;
        } else {
            currentIndex = 0; // 끝에 도달하면 처음으로 돌아갑니다.
        }

        const offset = -currentIndex * 100; // 100%씩 이동
        slider.style.transform = `translateX(${offset}%)`; // 이동
    };

    setInterval(moveSlider, 3000); // 3초마다 슬라이드 이동
});
function buyNow(element){
	var goodsNum = $(element).data('goodsNum');  // 상품 번호
	var cartQty = "1";           // 수량

	   $.ajax({
	       type: "POST",
	       url: "/item/addCart",  // 서버에서 처리할 URL
	       contentType: "application/json",  // JSON 형식으로 데이터 전송
	       data: JSON.stringify({  // 데이터를 JSON 형식으로 변환하여 전송
	           "goodsNum": goodsNum,
	           "cartQty": cartQty
	       }),
	       dataType: "html",  // 응답을 HTML 형식으로 처리
	       success: function(result) {
				purchaseRegist(result);
	       },
	       error: function() {
	           alert("주문을 실패하였습니다.");
	       }
	   });
}
</script>
<style>
/* 메인 이미지 영역 */
.main-image-container {
    width: 100%;
    overflow: hidden; /* 스크롤 숨기기 */
    position: relative;
}

.main-image-slider {
    display: flex;
    transition: transform 1s ease-in-out; /* 부드러운 이동 효과 */
}

.main-image-item {
    flex: 0 0 100%; /* 각 이미지는 전체 너비를 차지 */
    text-align: center;
}

.main-image-item img {
    width: 100%; /* 이미지 너비를 100%로 설정 */
    height: 400px; /* 고정된 높이 설정 */
    object-fit: contain; /* 이미지가 잘리지 않게 조정 */
    object-position: center; /* 이미지가 잘리지 않도록 가운데 정렬 */
}

/* 추가적인 스타일 설정 */
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

</style>
</head>
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Asset</a>
  <a href="/goods/goodsList" class="w3-bar-item w3-button w3-hide-small">쇼핑몰</a>
  <a href="/news/newsList" class="w3-bar-item w3-button w3-hide-small">뉴스</a>
  <a href="/stocks" class="w3-bar-item w3-button w3-hide-small">주식</a>
  
  <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button" title="Notifications">회원관리 <i class="fa fa-caret-down"></i></button>
     <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/member/memberRegist" class="w3-bar-item w3-button">회원등록</a>
        <a href="/member/memberList" class="w3-bar-item w3-button">회원리스트</a>
    </div>
  </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
     <button class="w3-button" title="Notifications">직원관리 <i class="fa fa-caret-down"></i></button>
     <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/employee/employeeRegist" class="w3-bar-item w3-button">직원등록</a>
        <a href="/employee/employeeList" class="w3-bar-item w3-button">직원리스트</a>
        <a href="/employee/departmentList" class="w3-bar-item w3-button">부서</a>
    </div>
  </div>
 
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">상품 <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="/goods/goodsList/강의" class="w3-bar-item w3-button">강의</a>
        <a href="/goods/goodsList/도서" class="w3-bar-item w3-button">도서</a>
      <a href="/goods/goodsRegist" class="w3-bar-item w3-button">상품등록</a>
      <a href="/goodsIpgo/ipgoList" class="w3-bar-item w3-button">입고현황</a>
    </div>
  </div>
  <div th:if="${session.auth != null}">
     <th:block th:if="${session.auth.grade == 'mem'}">
        <!-- 마이페이지 -->
        <div class="w3-dropdown-hover w3-hide-small">
           <button class="w3-button" title="Notifications">마이페이지 <i class="fa fa-caret-down"></i></button>     
           <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <a href="/myPage/memberMyDetail" class="w3-bar-item w3-button">내 정보 보기</a>
                 <a href="/myPage/memberMyPwUpdate" class="w3-bar-item w3-button">비밀번호 변경</a>
            </div>
        </div>
        
        <!-- 로그아웃 -->
        
     </th:block>
     <a href="/login/logout" class="w3-bar-item w3-button w3-hide-small" title="Search">로그아웃</a>
  </div>
  <div th:if="${session.auth == null}">
       <a href="/login/login" class="w3-bar-item w3-button w3-hide-small">로그인</a>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>
</div>
<body class="w3-content" style="max-width: 1200px">
<div id="searchResult">
  <div class="w3-row w3-grayscale">
   <div class="w3-container w3-text-grey" id="cover">
		<p>items</p>
	</div>

	<!-- Product grid -->
	<div class="main-image-container">
    <div class="main-image-slider">
        <th:block th:each="dto : ${list}">
            <div class="main-image-item">
                <a th:href="@{/goods/goodsDetail(goodsNum=${dto.goodsNum})}">
                    <img height="600px" width="1130px" th:src="|/static/images/${dto.mainStoreImage}|">
                </a>
            </div>
        </th:block>
    </div>
</div>
<div style="height: 50px;"></div>
	<th:block th:each="dto, iterStat : ${list}">

    <div th:if="${iterStat}" class="w3-col l3 s6">
        <div class="w3-container">
            <div class="w3-display-container">
                <a th:href="@{/goods/goodsDetail(goodsNum=${dto.goodsNum})}">
                    <img height="200px" width="200px"
                         th:src="|/static/images/${dto.mainStoreImage}|"
                         style="cursor: pointer;" th:goodsNum="${dto.goodsNum}" onclick="goodsDetail(this)">
                </a>
                <!-- 'New' 태그 추가 -->
                <span class="w3-tag w3-display-topleft">New</span>
                <!-- 'Buy Now' 버튼 추가 -->
                <div class="w3-display-middle w3-display-hover">
                    <button type="button" class="w3-button w3-black" id="buyItem" th:data-goodsNum="${dto.goodsNum}" onclick="buyNow(this)">
					Buy now <i class="fa fa-shopping-cart"></i>
					</button>
                </div>
            </div>
            <p>
                [[${dto.goodsName}]]
                <br> 
                <b>[[${dto.goodsPrice}]]</b>
            </p>
        </div>
    </div>
</th:block>

  </div>
  </div>
  <div></div>
  <button type="button" class="load-more" id="load-more">더보기</button>
</body>

</html>