<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<form action="/goods/goodsUpdate" method="post" enctype="multipart/form-data">
	
		<div class="w3-container" align="center">
			<h2>상품 수정</h2>
			<p>수정 및 추가</p>
			<hr />

			<table style="width: 80%;">
				<tr class="w3-bar">
					<th>상품번호</th>
					<th>
						<div class="w3-bar-item">
							<input type="text" name="goodsNum" th:value="${dto.goodsDTO.goodsNum}" readonly="readonly" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>상품명</th>
					<th>
						<div class="w3-bar-item">
							<input type="text" name="goodsName" th:value="${dto.goodsDTO.goodsName}" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>아티스트명</th>
					<th>
						<div class="w3-bar-item">
							<input type="text" name="artistName"  th:value="${dto.goodsDTO.artistName}"/>
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>상품가격</th>
					<th>
						<div class="w3-bar-item">
							<input type="number" name="goodsPrice" th:value="${dto.goodsDTO.goodsPrice}" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>상품 설명</th>
					<th>
						<div class="w3-bar-item">
							<textarea name="goodsContents">[[${dto.goodsDTO.goodsContents}]]</textarea>
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>메인이미지</th>
					<th th:if="${dto.goodsDTO.goodsMainImage != null or dto.goodsDTO.goodsMainImage != ''}">
						<div class="w3-bar-item" >
						<br>
							<span id="main">[[${dto.goodsDTO.goodsMainImage}]]</span> <br>
							<span id="mainFile" />
							<a type="button" th:attr="onclick=|javascript:fileDel(this, '${dto.goodsDTO.goodsMainImage}' ,'${dto.goodsDTO.goodsMainStoreImage}','main');|" ><span class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span></a>
						</div>
					</th>
				</tr>
				<tr class="w3-bar" >
					<th>상세이미지</th>
					<th th:if="${dto.goodsDTO.goodsDetailImage != null or dto.goodsDTO.goodsDetailImage != ''}">
					 
						<div class="w3-bar-item" >
						<br>
							<div th:each="image, idx : ${#strings.arraySplit(dto.goodsDTO.goodsDetailImage,'[`/]')}" >
								[[${image}]] <br> 
								<a type="button" th:attr="onclick=|javascript:fileDel(this, '${image}', '${#strings.arraySplit(dto.goodsDTO.goodsDetailStoreImage, '[`/]')[idx.index]}');|">
									<span class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
								</a>
								<br>
							</div>
							<input type="file" name="goodsDetailImage" multiple="multiple" />	
						</div>
						
					</th>
				</tr>
				<tr class="w3-bar">
					<th>카테고리</th>
					<th>
						<div class="w3-bar-item">
							<select name="category">
								<option value="KPOP" th:selected="${dto.goodsDTO.category == 'KPOP' or dto.goodsDTO.category == 'KP_'}">KPOP</option>
								<option value="POP/ROCK" th:selected="${dto.goodsDTO.category == 'POP/ROCK' or dto.goodsDTO.category == 'P&R'}">POP/ROCK</option>
								<option value="CLASSIC" th:selected="${dto.goodsDTO.category == 'CLASSIC' or dto.goodsDTO.category == 'CL_'}">CLASSIC</option>
								<option value="LP" th:selected="${dto.goodsDTO.category == 'LP' or dto.goodsDTO.category == 'LP_'}">LP</option>
							</select>
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th colspan="2">
						<input type="submit" th:data-goods-num="${dto.goodsDTO.goodsNum}" onclick="goodsUpdateSubmit(this)" value="수정" />
						<input type="button" onclick="javascript:location.href='/'" value="수정취소">
					</th>
					
				</tr>
			</table>
		</div>
	</form>

</body>
</html>