<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Insert title here</title>

<style>
.w3-sidebar a { 
    font-family: "Roboto", sans-serif;
    text-decoration: none; /* 밑줄 제거 */
}
a { 
	cursor: pointer;
    font-family: "Roboto", sans-serif;
    text-decoration: none; /* 밑줄 제거 */
	font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, .w3-wide { 
    font-family: "Montserrat", sans-serif;
}
hr{
color: red;
}
#login{
font-family: "Roboto", sans-serif;
font-size: 15px;
}
form {
    margin-left: 260px; /* 메뉴바의 넓이 */
    padding: 20px;
}

</style>
</head>
<body class="w3-content" style="max-width:1200px">
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <a href="/"><h3 class="w3-wide"><b>ALBUM</b></h3></a>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="/" class="w3-bar-item w3-button">홈</a>
    <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
      앨범 <i class="fa fa-caret-down"></i>
    </a>
     <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
	    <a href="bookList" type="button"  class="w3-bar-item w3-button">도서</a>
	    <a href="studyList" type="button"  class="w3-bar-item w3-button">강의</a>
	</div>
   
  
    
  <br /><br />
  
  
	  
	  	<a class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">상품등록</a> 
	  		<a  class="w3-bar-item w3-button w3-padding" >입고현황</a> 
	

  	  <a  class="w3-bar-item w3-button w3-padding" >주문목록</a> 
  	  <a href="memberList" id="memberList" class="w3-bar-item w3-button w3-padding">회원관리</a>
  	  <a href="employeeList" class="w3-bar-item w3-button w3-padding">직원관리</a>
  	  <a href="myPage" class="w3-bar-item w3-button w3-padding">내 정보</a>
  	  
  	  <a class="w3-bar-item w3-button w3-padding">문의</a> 
  
  
     <a class="w3-bar-item w3-button w3-padding">내 주문</a> 
 	 <a  class="w3-bar-item w3-button w3-padding">내 정보</a>
  	 <a class="w3-bar-item w3-button w3-padding" >문의</a> 
  

  
  </div>
</nav>
	<form action="/goods/goodsRegist" method="post" enctype="multipart/form-data">
		<div class="w3-container" align="center">
			<h2>상품 등록</h2>
			<p>상품을 등록하세요.</p>
			<hr />
			<table style="width: 70%;">
				<tr class="w3-bar">
					<th>상품번호</th>
					<th>
						<div class="w3-bar-item">
							<input type="text" name="goodsNum" th:value="${autoNum}"
								readonly="readonly" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>상품명</th>
					<th>
						<div class="w3-bar-item">
							<input type="text" name="goodsName" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>아티스트명</th>
					<th>
						<div class="w3-bar-item">
							<input type="text" name="artistName" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>상품가격</th>
					<th>
						<div class="w3-bar-item">
							<input type="number" name="goodsPrice" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>상품 설명</th>
					<th>
						<div class="w3-bar-item">
							<textarea name="goodsContents"></textarea>
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>메인이미지</th>
					<th>
						<div class="w3-bar-item">
							<input type="file" name="goodsMainImage" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>상세이미지</th>
					<th>
						<div class="w3-bar-item">
							<input type="file" name="goodsDetailImage" multiple="multiple" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>카테고리</th>
					<th>
						<div class="w3-bar-item">
							<select name="category">
								<option value="KPOP" th:selected="${category == 'KPOP' or category == 'KP_'}">KPOP</option>
								<option value="POP/ROCK" th:selected="${category == 'POP/ROCK' or category == 'P&R'}">POP/ROCK</option>
								<option value="CLASSIC" th:selected="${category == 'CLASSIC' or category == 'CL_'}">CLASSIC</option>
								<option value="LP" th:selected="${category == 'LP' or category == 'LP_'}">LP</option>
							</select>
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th colspan="2"> <input type="submit" value="등록" /></th>
					
				</tr>
			</table>
		</div>
	</form>

</body>
</html>