<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript">
function setGoods(element) {
	var goodsNum = $(element).data('goodsNum');
    $("#goodsNum").val($(opener.document).find("#goodsNum").val(goodsNum));
    window.close();
}


</script>
</head>
<body>

	<table border=1 width="600" align="center">
		<caption>상품 목록 (상품 수 : [[${list.size}]])</caption>
		
		<tr th:each="dto, status : ${list}">
			
			<th th:text="${status.count}"></th>
			<th id="goodsNum">[[${dto.goodsNum }]]</th>
			<th>[[${dto.goodsName}]]</th>
			<th>[[${dto.goodsPrice }]]</th>
			<th><button type="button" th:data-goods-num="${dto.goodsNum}" onclick="setGoods(this);">상품 선택</button></th>
		</tr>
	
	</table>
</body>
</html>