<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 		<div class="recent-news" >
            <div class="news-item" th:each="dto,idx : ${list}" th:if="${idx.index > 0}"  th:data-news-num="${dto.newsNum}" onclick="newsDetail(this)">
                <img th:src="|/static/images/${dto.storeImage}|" alt="News 1">
                <div class="content">
                    <h3><b>[[${dto.newsTitle}]]</b></h3>
                    <p>[[${#strings.abbreviate(dto.newsContents, 50)}]]</p>
                </div>
            </div>
        </div>
</body>
</html>