<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	$(function() {
		$("#btn").click(
				function() {
					window.open("/goods/goodsItem", "상품검색",
							"width=600, height=500, top=500, left=60")
				});
	});
</script>
</head>
<body>
	<form onsubmit="return ipgoUpdateSubmit(event)" id="ipgoForm">
		<div class="w3-container" align="center">
			<h2>입고 등록</h2>
			<p>확인 및 수정</p>
			<hr />
			<table style="width: 70%;">
				<tr class="w3-bar">
					<th>입고번호</th>
					<th>
						<div class="w3-bar-item">
							<input type="text" name="ipgoNum" id="ipgoNum"
								th:value="${dto.ipgoNum}" readonly="readonly" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>상품번호</th>
					<th>
						<div class="w3-bar-item">
							<input type="text" name="goodsNum" id="goodsNum"
								th:value="${dto.goodsNum}" />
							<button type="button" id="btn">상품 검색</button>
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>입고수량</th>
					<th>
						<div class="w3-bar-item">
							<input type="number" name="ipgoQty" id="ipgoQty"
								th:value="${dto.ipgoQty}" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>제조일자</th>
					<th>
						<div class="w3-bar-item">
							<input type="date" name="madeDate" id="madeDate"
								th:value="${#dates.format(dto.madeDate ,'yyyy-MM-dd')}" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>입고가격</th>
					<th>
						<div class="w3-bar-item">
							<input type="number" name="ipgoPrice" id="ipgoPrice" step="0.01"
								th:value="${dto.ipgoPrice}" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th>직원번호</th>
					<th>
						<div class="w3-bar-item">
							<input type="text" name="empNum" id="empNum"
								th:value="${dto.empNum}" readonly="readonly" />
						</div>
					</th>
				</tr>
				<tr class="w3-bar">
					<th colspan="2"><input type="submit" value="수정" /></th>
				</tr>
			</table>

		</div>
	</form>
</body>
</html>
